{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {%endblock%}</title>
    {% load static %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"> -->
     <link rel="stylesheet" type="text/css" href="{% static 'scss/main.css' %}">
     <link rel="stylesheet" type="text/css" href="{%static 'js/bootstrap.min.css'%}">
     <script src="https://code.jquery.com/jquery-3.6.1.min.js" 
     integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">

        <div class="modal-alert">
            <div class="modal_content">
              <div class="top-bar"></div>
              <div class="modal_inner_content"></div>
            </div>
        </div>

        <!-- Quick access menu -->

        <div class="cont-left">
            <div class="logo">
                <img src="{% static 'images/log.png'%}" alt="">
            </div>
            {% if user.is_authenticated %}

            <div class="profile_dit">
                <!--<div class="profile-pic">
                <img src="{{user_profile.profileimg.url}}" alt="">
                </div>

                <div class="profile_info">
                    <div class="profile-name">
                        <h1>hello {{user.username}}!</h1>
                    </div>
                    <div class="profile_bio">
                        <p> {{user.bio}}</p>
                    </div>
                </div> -->

            </div>
            <div class="profile-details">
              <!--  <div class="followers">
                    
                    <h2>1500</h2>
                    <h1>Followers</h1>
                </div>

                <div class="posts">
                    <h2>{{user_post_length}}</h2>
                    <h1>Posts</h1>
                </div>

                <div class="following"> 
                    <h2>500</h2>
                    <h1>Following</h1>
                </div> -->
                <h1>hello {{user.username}} ;)</h1>

            </div>

            {% endif %}
            
        
            {% if user.is_authenticated %}

         <div class="side-nav">
                <ul>
                   <a href = "{% url 'social:index' %}"> <li class="active-sec" >  <h1>Explore</h1></li></a>
                   <a href="{% url 'social:chat'%}"> <li class="active-sec" ><h1>Chat</h1></li> </a>
                    <a  href = "{% url 'social:bookings'%}"><li class="active-sec" data-option="bookings"> <h1>Holiday</h1></li></a>
                    <a href="{%url 'social:duka'%}"><li class="active-sec" data-option="duka"> <h1>Duka</h1></li> </a>
                   <a href="{% url 'social:profile' %}"> <li class="active-sec" data-option="profile"> <h1>Settings</h1></li> </a>
                   <a href="{% url 'social:settings' %}"> <li class="active-sec" data-option="profile"> <h1>edit</h1></li> </a>
                   <a href="logout"><li class="active-sec"><h1>Logout</h1></li></a>
                </ul>
            </div> 

            {% endif %}

        </div>

        <!-- End Quick access menu -->

        <!-- Main content -->

        <div class="cont-right">
    
            <div class="nav-bar">
                
                <div class="search-bar">
                    <input type="text" placeholder="Search...">
                </div>
                <div class="upload-btn">
                    <button class="myBtn" id="uploadbtn">Upload &#10514;</button>
                </div>

                

                <div class="notification-alert">
                    <a href="#" class="cart-btn"><img src="{% static 'images/notificationbell.png'%}" alt=""> </a>
                    <!--cart-->
                    <div class="cart-cont">
                        <div class="cart-info">
                            <div class="cart-h1">
                                <h1>My Cart</h1>
                            </div>

                            <div class="cart-checkout">
                                <div class="item-num">
                                    <h1>Items : <span>4</span></h1>
                                </div>
                                <div class="checkout-total">
                                    <h1>Total : <span>$120</span></h1>
                                </div>
                                <button>Checkout</button>

                            </div>

                            <div class="cart-items">
                                <img src="{% static 'images/p6.jpg'%}" alt="">
                                <div class="item-det">
                                    <h2>Diani backpackers</h2>
                                    <h3>international room</h3>
                                </div>
                               <div class="item-price">
                                <h1>$ 120</h1>
                               </div>
                               <h2>&#9747;</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inbox-icon">
                  <a href="{% url 'social:chat'%}" > <img src="{% static 'images/chat.png'%}" alt=""></a>
                </div>
                <div class="settings-mini">
                    <img src="{{user_profile.profileimg.url}}" alt="">
                    </div>
            </div>

            

            

            <!--Start of Main Feed-->
          

         <div class="main-sec" id="home-feed">


            <div id="popup" class="modal">
    
                <!-- Modal content -->
                <div class="upload-popup">
                  <span class="close">&times;</span>
                  <div class="upload-options">
                    <h1>Upload Post</h1>
                    
                    <div class="upload-content">
                        <div class="upload-icon">
                            <img src="{% static 'images/upload.png'%}" alt="">
                        </div>
                        <form action="upload" method="post" enctype="multipart/form-data">
                        {% csrf_token%}
                        <div class="upload-caption">
                            <input type="file" name="upload">
                            <!--<a href="#">Browse to choose</a>-->
                            <textarea name="caption" placeholder="caption" id="" cols="35" rows="5"></textarea>
                            <br>
                            <button type="submit">Upload</button>
                        </div>
                        </form>
                        
                    </div>
                    
                  </div>
                </div>
              
            </div>

     {% block content %}
   
   
     {% endblock %}

<script type="text/javascript" src="{% static 'js/index.js' %}"></script> 
</body>
</html>