{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {%endblock%}</title>
    {% load static %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"> -->
     <link rel="stylesheet" type="text/css" href="{% static 'scss/main.css' %}">
     <link rel="stylesheet" type="text/css" href="{%static 'js/bootstrap.min.css'%}">
     <script src="https://cdn.tailwindcss.com"></script>
     <link href="/dist/output.css" rel="stylesheet">
    
   

     <script src="https://code.jquery.com/jquery-3.6.1.min.js" 
     integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">

        <div class="modal-alert">
            <div class="modal_content">
              <div class="top-bar"></div>
              <div class="modal_inner_content"></div>
            </div>
        </div>

        <!-- Quick access menu -->

        <div class="cont-left">
            <div class="logo-pic">
                <img src="{% static 'images/nendahl.png'%}" alt="">
                <i class="fa-light fa-magnifying-glass"></i>


            </div>
            {% if user.is_authenticated %}

            <div class="profile_dit">
                <!--<div class="profile-pic">
                <img src="{{user_profile.profileimg.url}}" alt="">
                </div>

                <div class="profile_info">
                    <div class="profile-name">
                        <h1>hello {{user.username}}!</h1>
                    </div>
                    <div class="profile_bio">
                        <p> {{user.bio}}</p>
                    </div>
                </div> -->

            </div>
            <div class="profile-details">
              <!--  <div class="followers">
                    
                    <h2>1500</h2>
                    <h1>Followers</h1>
                </div>

                <div class="posts">
                    <h2>{{user_post_length}}</h2>
                    <h1>Posts</h1>
                </div>

                <div class="following"> 
                    <h2>500</h2>
                    <h1>Following</h1>
                </div> -->
                <h1>hello {{user.username}} ;)</h1>

            </div>

            {% endif %}
            
        
            {% if user.is_authenticated %}

         <div class="side-nav">
                <ul>
                   <a href = "{% url 'social:index' %}"> <li class="active-sec" >  <h1>Explore</h1></li></a>
                   <a href="{% url 'social:chat'%}"> <li class="active-sec" ><h1>Chat</h1></li> </a>
                    <a  href = "{% url 'social:bookings'%}"><li class="active-sec" data-option="bookings"> <h1>Holiday</h1></li></a>
                    <a href="{%url 'social:duka'%}"><li class="active-sec" data-option="duka"> <h1>Duka</h1></li> </a>
                   <a href="{% url 'social:profile' %}"> <li class="active-sec" data-option="profile"> <h1>Settings</h1></li> </a>
                   <a href="{% url 'social:dashboard' %}"> <li class="active-sec" data-option="profile"> <h1>dashboard</h1></li> </a>
                   <a href="logout"><li class="active-sec"><h1>Logout</h1></li></a>
                </ul>
            </div> 

            

            {% endif %}

        </div>

        <!-- End Quick access menu -->

        <!-- Main content -->

        <div class="cont-right">
    
            <div class="nav-bar ">
                
                <div class="search-bar">
                    <form method="get" action="{% url 'social:search' %}">
                    <input name="query" type="text" value="{{query}}"placeholder="Search...">
                    <button class=" text-white right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search &#128269;</button>
                    </form>
                    
                </div>
                <div class="upload-btn text-white  right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 ">
                    <button class="myBtn" id="uploadbtn">Upload &#10514;</button>
                </div>

                

                <div class="notification-alert">
                    <a href="#" class="cart-btn"><img src="{% static 'images/notificationbell.png'%}" alt=""> </a>
                    <!--cart-->
                    <div class="cart-cont">
                        <div class="cart-info">
                            <div class="cart-h1">
                                <h1>My Cart</h1>
                            </div>

                            <div class="cart-checkout">
                                <div class="item-num">
                                    <h1>Items : <span>4</span></h1>
                                </div>
                                <div class="checkout-total">
                                    <h1>Total : <span>$120</span></h1>
                                </div>
                                <button>Checkout</button>

                            </div>

                            <div class="cart-items">
                                <img src="{% static 'images/p6.jpg'%}" alt="">
                                <div class="item-det">
                                    <h2>Diani backpackers</h2>
                                    <h3>international room</h3>
                                </div>
                               <div class="item-price">
                                <h1>$ 120</h1>
                               </div>
                               <h2>&#9747;</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inbox-icon">
                  <a href="{% url 'social:chat'%}" > <img src="{% static 'images/chat.png'%}" alt=""></a>
                </div>
                <div class="settings-mini">
                    <img src="{{user_profile.profileimg.url}}" alt="">

                    
                    </div>
            </div>

            

            

            <!--Start of Main Feed-->
          

         <div class="main-sec" id="home-feed">


            <div id="popup" class="modal">
    
                <!-- Modal content -->
                <div class="upload-popup">
                  <span class="close">&times;</span>
                  <div class="upload-options">
                    <h1>Upload Post</h1>
                    
                    <div class="upload-content">
                       <!-- <div class="upload-icon">
                            <img src="{% static 'images/upload.png'%}" alt="">
                        </div> -->
                        <form action="upload" method="post" enctype="multipart/form-data">
                        {% csrf_token%}
                        <div class="upload-caption">
                           <!-- <input type="file" name="upload"> -->
                            <div class="flex items-center justify-center w-full">
                                <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                        <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                        <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                                    </div>
                                    <input id="dropzone-file" type="file" class="hidden"  name="upload"/>
                                </label>
                            </div> 
                            
                            
                            <!--<a href="#">Browse to choose</a>-->
                            <textarea name="caption" placeholder="caption" id="" cols="40" rows="5" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
                            
                            <br>
                            <button type="submit">Upload</button>
                        </div>
                        </form>
                        
                    </div>
                    
                  </div>
                </div>
              
            </div>

     {% block content %}
   
   
     {% endblock %}

<script type="text/javascript" src="{% static 'js/index.js' %}"></script> 
</body>
</html>