{% extends "base.html" %}
{% block title %} Chat {% endblock %}
{% block content %}
{% load static %}
{% load widget_tweaks %}

<div class="new-add">

<div class="add-title">
    <h1>upload a listng</h1>
</div>
<form action="addlisting" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="space-y-4">
    {{ form.as_p }}
    </div>
    <button class="text-white right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Upload</button>
</form>
</div>

{% endblock %}