{% extends "base.html" %}
{% block title %} Holiday Booking {% endblock %}
{% block content %}
{% load static %}

<div class="modal-alert">
    <div class="modal_content">
      <div class="top-bar"></div>
      <div class="modal_inner_content"></div>
    </div>
  </div>

    <div class="main-listings">

        <div class="add-listing">
            <h1>Shop Duka</h1>
            
        </div>

        <div class="categories-pick">
            <button>Restaurants</button>
            <button>Bnbs</button>
            <button>Activities</button>
            <button>Hotels</button>
            <button>Rafikis</button>
            <button>Leisure</button>

            <button class="showpop">Show Mod</button>
        </div>
         

        <div class="listing">

            <div class="feature-title">
                
                <h3>Bnbs</h3>
                
    
            </div>

            <div class="listing-cards">

                

                <div class="listing-card" >
                   <a href="#" class="showprod"> 
                        <img src="{% static 'images/r.jpg'%}" alt="">
                    
                        <div class="listing-info">
                            <h4>nairobi</h4>
                            <h5>westlands</h5>
                        </div>

                   </a>  
                </div>

                <div class="product-desc">
        
                  <div class="pro-info">
                    <div class="pro-img">
                        <img src="{% static 'images/r.jpg'%}" alt="">
                    </div>
                    
                    <div class="pro-title">
                        <h1>crochet bag</h1>
                    </div>

                    <div class="pro-stats">
                        <div class="pro-rating">
                            <h1>Rating</h1>
                            <h2>&#10022;</h2>
                        </div>
                        <div class="pro-price">
                            <h1>Price</h1>
                            <h2>$199.00</h2>
                        </div>
                    </div>

                    <div class="product-about">
                        <h3>Description</h3>
                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum a culpa asperiores fugiat sit fuga voluptatibus vel. Minus, magnam et!</h4>
                    </div>

                    <div class="interact-btns">
                        <button>Add to Cart</button>
                        <button>Contact Seller</button>
                    </div>
                  </div>
                    
                </div>
                
            
        </div>
    </div>

{% endblock %}