{% extends "base.html" %}
{% block title %} Chat {% endblock %}
{% block content %}
{% load static %}
{% load widget_tweaks %}

<div class="new-add">
    <div class="add-title">
        <img src="{% static 'images/favicon.png'%}" alt="">
        <h1>Update your listng</h1>
    </div>
<form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="space-y-4">
    {{ form.as_p }}
    </div>
    <button style="font-family: 'Montserrat',sans-serif; padding: 0px 10px; background: #E8772E; font-weight: 500; font-size: 1.3rem; border-radius: 5px; margin-bottom: 50px;">Send</button>
</form>
</div>

{% endblock %}