<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"> -->
     <link rel="stylesheet" type="text/css" href="{% static 'scss/main.css' %}">
     <script src="https://code.jquery.com/jquery-3.6.1.min.js" 
     integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-listings">

        <div class="add-listing">
            <h1>Bookings</h1>
            
        </div>

        <div class="categories-pick">
            <button>Restaurants</button>
            <button>Bnbs</button>
            <button>Activities</button>
            <button>Hotels</button>
            <button>Rafikis</button>
            <button>Leisure</button>
        </div>
         

        <div class="listing">

            <div class="feature-title">
                
                <h3>Bnbs</h3>
                <div class="feature-button">
                    <button>List <span>&#43;</span></button>
                </div>
    
            </div>

            <div class="listing-cards">
                <div class="listing-card">
                    
                        <img src="{% static 'images/1.jpg'%}" alt="">
                    
                    <div class="listing-info">
                        <h4>nairobi</h4>
                        <h5>westlands</h5>
                    </div>
                </div>

                <div class="listing-card">
                    
                        <img src="{% static 'images/1.jpg'%}" alt="">
                    
                    <div class="listing-info">
                        <h4>nairobi</h4>
                        <h5>westlands</h5>
                    </div>
                </div>

                 <div class="listing-card">
                    
                        <img src="{% static 'images/1.jpg'%}" alt="">
                    
                    <div class="listing-info">
                        <h4>nairobi</h4>
                        <h5>westlands</h5>
                    </div>
                </div>

                <div class="listing-card">
                    
                    <img src="{% static 'images/1.jpg'%}" alt="">
                
                <div class="listing-info">
                    <h4>nairobi</h4>
                    <h5>westlands</h5>
                </div>
            </div>


                 
            </div>

            <div class="feature-title">
                
                <h3>Hotels & Resorts</h3>
                <div class="feature-button">
                    <button>List <span>&#43;</span></button>
                </div>
    
            </div>

            <div class="listing-cards">
                <div class="listing-card">
                    
                        <img src="{% static 'images/1.jpg'%}" alt="">
                    
                    <div class="listing-info">
                        <h4>westlands/nairobi</h4>
                        <h5>$100 / night</h5>
                    </div>
                </div>

                <div class="listing-card">
                    
                        <img src="{% static 'images/1.jpg'%}" alt="">
                    
                    <div class="listing-info">
                        <h4>westlands/nairobi</h4>
                        <h5>$100 / night</h5>
                    </div>
                </div>

                 <div class="listing-card">
                    
                        <img src="{% static 'images/1.jpg'%}" alt="">
                    
                    <div class="listing-info">
                        <h4>westlands/nairobi</h4>
                        <h5>$100 / night</h5>
                    </div>
                </div>

                <div class="listing-card">
                    
                    <img src="{% static 'images/1.jpg'%}" alt="">
                
                <div class="listing-info">
                    <h4>westlands/nairobi</h4>
                    <h5>$100 / night</h5>
                </div>
            </div>


                 
            </div>

            <div class="feature-title">
                
                <h3>Restaurants</h3>
                <div class="feature-button">
                    <button>List <span>&#43;</span></button>
                </div>
    
            </div>

            <div class="listing-cards">
                <div class="listing-card">
                    
                        <img src="{% static 'images/1.jpg'%}" alt="">
                    
                    <div class="listing-info">
                        <h4>westlands/nairobi</h4>
                        <h5>$100 / night</h5>
                    </div>
                </div>

                <div class="listing-card">
                    
                        <img src="{% static 'images/1.jpg'%}" alt="">
                    
                    <div class="listing-info">
                        <h4>westlands/nairobi</h4>
                        <h5>$100 / night</h5>
                    </div>
                </div>

                 <div class="listing-card">
                    
                        <img src="{% static 'images/1.jpg'%}" alt="">
                    
                    <div class="listing-info">
                        <h4>westlands/nairobi</h4>
                        <h5>$100 / night</h5>
                    </div>
                </div>

                <div class="listing-card">
                    
                    <img src="{% static 'images/1.jpg'%}" alt="">
                
                <div class="listing-info">
                    <h4>westlands/nairobi</h4>
                    <h5>$100 / night</h5>
                </div>
            </div>


                 
            </div>

            <div class="feature-title">
                
                <h3>Activities</h3>
                <div class="feature-button">
                    <button>List <span>&#43;</span></button>
                </div>
    
            </div>

            <div class="listing-cards">
                <div class="listing-card">
                    
                        <img src="{% static 'images/1.jpg'%}" alt="">
                    
                    <div class="listing-info">
                        <h4>westlands/nairobi</h4>
                        <h5>$100 / night</h5>
                    </div>
                </div>

                <div class="listing-card">
                    
                        <img src="{% static 'images/1.jpg'%}" alt="">
                    
                    <div class="listing-info">
                        <h4>westlands/nairobi</h4>
                        <h5>$100 / night</h5>
                    </div>
                </div>

                 <div class="listing-card">
                    
                        <img src="{% static 'images/1.jpg'%}" alt="">
                    
                    <div class="listing-info">
                        <h4>westlands/nairobi</h4>
                        <h5>$100 / night</h5>
                    </div>
                </div>

                <div class="listing-card">
                    
                    <img src="{% static 'images/1.jpg'%}" alt="">
                
                <div class="listing-info">
                    <h4>westlands/nairobi</h4>
                    <h5>$100 / night</h5>
                </div>
            </div>


                 
            </div>

            <div class="feature-title">
                
                <h3>Rafikis</h3>
                <div class="feature-button">
                    <button> Join<span>&#8734;</span></button>
                </div>
    
            </div>

            <div class="listing-cards">
                <div class="listing-card">
                    
                        <img src="{% static 'images/1.jpg'%}" alt="">
                    
                    <div class="listing-info">
                        <h4>westlands/nairobi</h4>
                        <h5>$100 / night</h5>
                    </div>
                </div>

                <div class="listing-card">
                    
                        <img src="{% static 'images/1.jpg'%}" alt="">
                    
                    <div class="listing-info">
                        <h4>westlands/nairobi</h4>
                        <h5>$100 / night</h5>
                    </div>
                </div>

                 <div class="listing-card">
                    
                        <img src="{% static 'images/1.jpg'%}" alt="">
                    
                    <div class="listing-info">
                        <h4>westlands/nairobi</h4>
                        <h5>$100 / night</h5>
                    </div>
                </div>

                <div class="listing-card">
                    
                    <img src="{% static 'images/1.jpg'%}" alt="">
                
                <div class="listing-info">
                    <h4>westlands/nairobi</h4>
                    <h5>$100 / night</h5>
                </div>
            </div>


                 
            </div>
            </div>
        </div>
    </div>
</body>
</html>