{% extends "base.html" %}
{% block title %} Holiday Booking {% endblock %}
{% block content %}
{% load static %}


<div class="modal-alert">
    <div class="modal_content">
      <div class="top-bar"></div>
      <div class="modal_inner_content"></div>
    </div>
</div>

    <div class="main-listings">

        <div class="add-listing">
            <h1>Holiday</h1>
            
        </div>

        <div class="categories-pick">
            <button>Restaurants</button>
            <button>Bnbs</button>
            <button>Activities</button>
            <button>Hotels</button>
            <button>Rafikis</button>
            <button>Leisure</button>
        </div>
         

        <div class="listing">

            <div class="feature-title">
                
                <h3>Bnbs</h3>
                
    
            </div>

            <div class="listing-cards">

                {%for host in hosts %}
                <a href="#" class="booking-pop">
                    <div class="listing-card" >
                        
                            <img src="{{host.img.url}}" alt="">
                        
                        <div class="listing-info">
                            <h4>{{user.username}}</h4>
                            <h5>{{host.location}}</h5>
                        </div>
                    </div>
                </a>
                {% endfor %}
              

            </div> 

            <div class="stay-booking">
                {%for host in hosts %}
                <div class="booking-detail">
                    <div class="booking-img">
                        <img src="{{host.img.url}}" alt="">
                    </div>

                    <div class="booking-title">
                        <h1>{{host.name}}</h1>
                        <h4>International Room</h4>
                    </div>

                    <div class="booking-stats">
                        <div class="booking-rating">
                            <h1>Rating</h1>
                            <h2>&#10022;</h2>
                        </div>
                        <div class="booking-price">
                            <h1>Price</h1>
                            <h2>$199.00</h2>
                        </div>
                    </div>


                    <div class="about-booking">
                        <h3>Description</h3>

                        <h5>{{host.description}}</h5>
                    </div>

                    <div class="book-button">
                        <button>Book Room</button>
                    </div>

                    
                </div>
                {% endfor %}
              </div>
            
        </div>
    </div>

{% endblock %}