{% extends "base.html" %}
{% block title %} Explore Nendah {% endblock %}
{% block content %}
{% load static %}
    

    <div class="container">

        


            <!--Start of Main Feed-->
          

         <div class="main-sec" id="home-feed">


            <div id="popup" class="modal">
    
                <!-- Modal content -->
                <div class="upload-popup">
                  <span class="close">&times;</span>
                  <div class="upload-options">
                    <h1>Upload Post</h1>
                    
                    <div class="upload-content">
                        <div class="upload-icon">
                            <img src="{% static 'images/upload.png'%}" alt="">
                        </div>
                        <form action="upload" method="post" enctype="multipart/form-data">
                        {% csrf_token%}
                        <div class="upload-caption">
                            <input type="file" name="upload">
                            <!--<a href="#">Browse to choose</a>-->
                            <textarea name="caption" placeholder="caption" id="" cols="35" rows="5"></textarea>
                            <br>
                            <button type="submit">Upload</button>
                        </div>
                        </form>
                        
                    </div>
                    
                  </div>
                </div>
              
            </div>

           
            
        
           <div class="feed-all">

            <div class="feed" >
                <div class="pg_title">
                    <h1> Explore</h1>
                </div>

                {% for post in posts reversed %}
                <div class="feed-post">
                    
                    <div class="post-profile">
                        <div class="post-profile-img">
                            <img src="{% static 'images/post2.jpg'%}" alt="">
                        </div>
                        <div class="post-profile-name">
                          <a href="/user/{{post.user}}">  <h1>{{post.user}}</h1></a>
                        </div>
                    </div>
                    
                    <div class="post-main-content">
                        <img src="{{post.image.url}}" alt="">
                    </div> 
                    <div class="post-interactions">
                        <a href="/like-post?post_id={{post.id}}">
                            <div class="like-btn">
                                <img src="{% static 'images/like.png'%}" alt="">

                                {% if post.num_likes == 0 %}
                                <p><span>&#43; like</span></p>
                                {% elif post.num_likes == 1 %}
                                <p>{{post.num_likes}} <span>like</span></p>
                                {% else %}
                                <p>{{post.num_likes}} <span>likes</span></p>
                                {% endif %}
                            </div>
                        </a>
                      <!--  <div class="comment-btn">
                            <img src="{% static 'images/comment.png'%}" alt="">
                        </div> -->
                    </div>
                    <div class="caption">
                        <p>
                            <a>{{post.user}}: </a><span> {{post.caption}} </span>
                        </p>
                    </div>
                </div>
                {% endfor %}
              
            </div>

    
            
          
            <div class="side-cont">
              <div class="side-options">
                <div class="side-title">
                  <h1>Also on nendah</h1>
                </div>
                

                {% for suggestion in suggestion_username_profile_list %}
                <div class="new-followers">
                    <div class="n-follower">
                        <div class="follower-img">
                            <img src="{{suggestion.profileimg.url}}" alt="">
                        </div>
                        <div class="follower-name"><h1>{{suggestion.user}}</h1></div>
                    </div>
                    <div class="follow-btn">
                       <a href="/user/{{suggestion.user}}"><button>View Profile</button></a>
                    </div>
                </div>
                {% endfor %}

               

               

              </div> 


            <!--Articles and Podcast suggestions-->

            
           
            </div>
         </div>

        
            <!--End of Main Feed-->
        </div>

        <!-- End of main content -->
    
        
    </div>
     
  <script type="text/javascript" src="{% static 'js/index.js' %}"></script> 

  {% endblock %}