{% extends "base.html" %}
{% block title %} Listing: {{listing.host_name}} {% endblock %}
{% block content %}
{% load static %}

  
<div class="stay-listing">

    <div class="listing-title">
        <a href="{% url 'social:bookings'%}"><span>&#8592;</span> </a>
        <h1>{{listing.host_name}}</h1>
    </div> 
                
    <div class="listing-card">
        
        <div class="listing-img">
            <img src="{{listing.img.url}}" alt="">
        </div>


             
        <div class="listing-details">
        <div class="listing-header">
            <h4>{{listing.name}}</h4>
        </div>


        <div class="about-listing">
            <h3>Description</h3>

            <h5>{{listing.description}}</h5>
        </div>

        <div class="listing-price">
            <h1>Price /<span>night</span> :</h1>
            <h2>${{listing.charge}}</h2>
        </div>

        {% if request.user == listing.host_name %}
        <div class="creator">
            <h5>Property owned by {{listing.host_name}}</h5>
            <div class="creator-opt">
            <a href="{% url 'social:editlisting' listing.id %}">edit</a>
            <a href="{% url 'social:delete' listing.id %}">Delete</a>
            </div>
        </div>
        {% else %}
        <div class="book-button">
            <button><a href="{% url 'conversation:new' listing.id %}">Contact Host</a></button>
        </div>

        {% endif %}
        </div>

        
    </div>


   

   

</div>

{% if request.user == listing.host_name %}

{% else %}

<div class="related-options">
    <h1>Related Listings</h1>


<div class="listing-cards">

    {% for listing in related_listings %}
    <a href="{% url 'social:detail' listing.id %}" >
        <div class="listing-card" >
            
                <img src="{{listing.img.url}}" alt="">
            
            <div class="listing-info">
                <h4>{{listing.name}}</h4>
                <div class="item-det">
                    <h5>{{listing.location}}</h5>
                    <h5><span>$</span>{{listing.charge}}<span>/night</span></h5>
                </div>
            </div>
        </div>
    
    </a>
    {% endfor %}
  

</div>
{% endif %}
</div>

{% endblock %}