{% extends "base.html" %}
{% block title %} Chat {% endblock %}
{% block content %}
{% load static %}

    <div class="profile-container">
        <div class="profile-cont">

            {% if user.is_authenticated %}

            <div class="profile-pic">
                <img src="{% static 'images/person.jpg'%}" alt="">
            </div>
            <div class="profile-info">
                <div class="person-name">
                    <h1>{{user.username}}</h1>
                </div>
                <div class="profile-bio">
                    <h4>{{user_profile.bio}}</h4>
                </div>
                <div class="profile-btn">
                    <button class="follow">Follow &#8734;</button>
                    <button  class="pop-action" button-option="Show Message" >Message</button>
                    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Edit profile</button>
                </div>


                <!--Profile edit popup  section -->

               

                <!-- End of section -->


                <div class="profile-stats">
                    <div class="stat">
                        <h3>28</h3>
                        <h3><span>Posts</span></h3>
                    </div>

                    <div class="stat">
                        <h3>1500</h3>
                        <h3><span>Followers</span></h3>
                    </div>

                    <div class="stat">
                        <h3>500</h3>
                        <h3><span>Following</span></h3>
                    </div>
                    
                    {% endif %}
                  
                </div>
            </div>
        </div>

        <div class="profile-features">
            <div class="feature-title">
                <h3>Posts</h3>
                <div class="feature-button">
                    <button class="mybtn">Post <span>&#43;</span></button>
                </div>
            </div>
            <div class="profile-posts">
                {% for post in posts reversed %}
                    <div class="post-item">
                        <img src="{{post.image.url}}" alt="">
                    </div>
                {% endfor %}
            </div>

            <!-- popup -->

           


            <!--end popup-->

        

            <div class="feature-title">
                
                <h3>My Duka</h3>
                <div class="feature-button">
                    <button>Sell <span>&#43;</span></button>
                </div>

                

            </div>

            <div class="my-cont">
                <div class="cont-item">
                    <img src="{% static 'images/e.jpg'%}" alt="">
                    <div class="duka-info">
                        <h3>Glasses</h3>
                        <h4>$2</h4>
                    </div>
                </div>

                <div class="cont-item">
                    <img src="{% static 'images/w.jpg'%}" alt="">
                    <div class="duka-info">
                        <h3>Glasses</h3>
                        <h4>$2</h4>
                    </div>
                </div>

                <div class="cont-item">
                    <img src="{% static 'images/r.jpg'%}" alt="">
                    <div class="duka-info">
                        <h3>Glasses</h3>
                        <h4>$2</h4>
                    </div>
                </div>

                <div class="cont-item">
                    <img src="{% static 'images/q.jpg'%}" alt="">
                    <div class="duka-info">
                        <h3>Glasses</h3>
                        <h4>$2</h4>
                    </div>
                </div>
            </div>

            <div class="feature-title">
                
                <h3>My Articles & Podcasts</h3>
                <div class="feature-button">
                    <button>Post <span>&#43;</span></button>
                </div>

            </div>

            <div class="my-cont">
                <div class="cont-item">
                    <img src="{% static 'images/v.jpg'%}" alt="">
                    <div class="duka-info">
                        <h3>title</h3>
                        
                    </div>
                </div>

                <div class="cont-item">
                    <img src="{% static 'images/z.jpg'%}" alt="">
                    <div class="duka-info">
                        <h3>title</h3>
                        
                    </div>
                </div>

                <div class="cont-item">
                    <img src="{% static 'images/x.jpg'%}" alt="">
                    <div class="duka-info">
                        <h3>title</h3>
                        
                    </div>
                </div>

                <div class="cont-item">
                    <img src="{% static 'images/c.jpg'%}" alt="">
                    <div class="duka-info">
                        <h3>title</h3>
                        
                    </div>
                </div>
            </div>

           
        </div>
    </div>

    {% endblock %}