<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'scss/main.css' %}">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.1.min.js" 
     integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <title>Nendah-Signup</title>
</head>

<body>

    <main class="sign-all">

        <div class="sign-left">
        
            <div class="s-info">
                <h2>Find & Tell Your Story</h2>
                <h1>Explore <img src="{% static 'images/favicon.png'%}" alt=""></h1>
                <h4>Nendah</h4>
                <h5>"Life is a journey, and the world is your playground. Don't just exist, live. Explore new horizons, meet new people, and create memories that will last a lifetime. Your adventure starts now."</h5>
                
            </div>
        
        </div>
        <div class="all-signup">


            <div class="create-account">

                

                <img src="{% static 'images/favicon.png'%}" alt="">
                <h1>Nendah</h1>

                <div>
                    <style>
                        h6{
                            color: red;
                            font-family: "Montserrat", sans-serif;
                        }
                    </style>
                    {% for message in messages %}
                    <h6>{{message}}</h6>
                    {% endfor %}
                </div>

                <form action="" method="post" id="registration-form" class="account-form">
                    {% csrf_token %}
                   <!--  {% for field in form %}
                    
                    {{field.label}}
                    {{field}}

                    {% endfor %} -->
                    <p>User Name:</p>
                    <input type="text" name="username" id="username-input" placeholder="User Name" class="user">
                    <p>Email :</p>
                    <input type="email" name="email" id="email-input" placeholder="Email" class="name">
                    <p>Password :</p>
                    <input type="password" id="password"  name="password" placeholder="At least 6 characters">
                    <p>Re-enter passwords :</p>
                    <input type="password" id="password2" name="password2"  placeholder="Re-enter password"><br> 
                    <button type="submit" name="submit">Create account &#9787;</button>
                </form>

                <div class="b-drop">
                  <h4>already have an account?</h4>  <a href="{% url 'social:login' %}">Login</a>
                 </div>
            </div>
        </div>

         
        </div>
        
    </main>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script> 
</body>

</html>