.chat-inbox{
    width: 100%;
.chat-fr{
    width: 30%;
    border-right: 1px solid rgb(212, 201, 201);
    .chats{
        border-bottom: 1px solid rgb(212, 201, 201);
        align-items: center;
        display: flex;
        flex-direction: column;
    .chat-img{
        margin-left: 20px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        align-items: center;
        width: 40px;
        height: 40px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .chat-cont{
        
        .chat-name{
            h2{
                font-family: "Roboto", sans-serif;
                font-size: 1rem;
                font-weight: 400;
                color: rgb(143, 141, 141);
            }
        }
        .chat-view{
            
            p{
                font-family: "Roboto", sans-serif;
                font-size: .7rem;
                color: #555;
                font-weight: 400;
                max-width: 10rem;
                 display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;

            }
        }
     }
    }
}
}