@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');


*{
    margin: 0;
    padding: 0;

}


html {
    scroll-behavior: smooth;
  }  


.all-cont{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    scroll-behavior: smooth;    

}

.cont-left{
    width: 25%;
   // box-shadow: 0px 0px 2px rgb(202, 199, 199);
    position: sticky;
    top: 0;

    .logo-pic{
        margin: auto;
        margin-top:20px;
        margin-bottom: 25px;
        width: 30%;
        height: 60px;
        
        img{
            width: 90%;
            height: 90%;
            margin: auto;
            object-fit: fill;  
        }
    }
.profile_dit{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    a{
        text-decoration: none;
        text-transform: none;
    }

    .profile-pic{
        margin-left: 60px;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: fill;
        img{
            width: 100%;
            height: 100%;
            border-radius: 100%;
            object-fit: cover;
        
        }
    }

    .profile_info{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 10px;
        gap: 5px;

    .profile-name{
       display: flex;
       justify-content: flex-start;
       align-items: center;
       margin-top: 20px;
       font-family: "Roboto", sans-serif;
       h1{
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: none;
        color: rgb(54, 56, 91);
       }
    }

    .profile_bio{
    
        p{
            font-family: "Montserrat", sans-serif;
            font-size: .8rem;
            font-weight: 500;
            color: #444;
            max-width: 6rem;
            display: -webkit-box;
           -webkit-line-clamp: 1;
           -webkit-box-orient: vertical;
           overflow: hidden;
        }
    }
}
}

    .profile-details{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 0px 10px 0px 10px;
        width: 85%;
        margin: auto;
        margin-top: 10px;
        font-family: "Montserrat", sans-serif;
        box-shadow: 10px 10px 10px -5px rgb(202, 199, 199);
        border-radius: 20px;
        padding: 0px 0px 0px 0px;
        h1{
            font-size: 1.5rem;
            font-weight: 500;
            text-transform: none;
            color: rgb(54, 56, 91);
           }
        .followers{
            display: flex ;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 5px;
            
            h1{
            font-size: 1rem;
            font-weight: 500;
            color: rgb(54, 56, 91);
            }
            h2{
                font-size: .8rem;
                font-weight: 300;
            }
        }
        .posts{
            display: flex ;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 5px;
            h1{
            font-size: 1rem;
            font-weight: 500;
            color: rgb(54, 56, 91);
            }
            h2{
                font-size: .8rem;
                font-weight: 300;
            } 
        }
        .following{
            display: flex ;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 5px;
            h1{
            font-size: 1rem;
            font-weight: 500;
            color: rgb(54, 56, 91);
            }
            h2{
                font-size: .8rem;
                font-weight: 300;
            }
        }
    }

    .side-nav{
        margin-top: 20px;
    
        ul{
            text-decoration: none;
            list-style: none;
            font-family: "Montserrat", sans-serif;
            padding: 10px 0px 5px 15px;

            a{
                text-decoration: none;
                display: flex;
                justify-content: center;
                flex-direction: row;
                margin: auto;
                margin-bottom: 15px;
                cursor: pointer;
                max-width: 200px;
                background-color: #e9e8e7;
                border-radius: 10px; 
               
               
            li{
                
                img{
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
            
                h1{
                    font-family: "Montserrat", sans-serif;
                    font-size: 1.2rem;
                    font-weight: 500;
                    text-align: center;
                    border: 2px solid transparent;
                    color: #555;
                    
                   
                }
            

              
                
            }
            
        }

       
        :hover{
            background-color:  #d6d3d0;
            color: #000;
            
        }
        }

    }
}



.cont-right{
    width: 100%;

    
}


    .nav-bar{
        width: 100%;
        position: sticky;
        top: 0px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        padding: 20px 30px 20px 30px;
        border-radius: 10px;
        .logo-pic{
            display: none;
        }
        .mini-nav{
            display: none;
        .mobile-menu-dropdown {
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgb(0, 0, 0, 0.93);
            z-index: 9;
            transform: translateX(-100%);
            transition: transform 500ms ease-in-out;
        }
        .mobile-menu-dropdown ul {
            margin-top: 70px;
            list-style: none;
            text-decoration: none;
            padding: 5px;
        }
        .mobile-menu-dropdown ul li {
            padding: 5px 0px;
            float: left;
            width: 100%;
            box-shadow: none !important;
            overflow: hidden;
            text-indent: 5px;
            border-bottom: 1px solid rgb(255, 255, 255, 0.2);
        }
        .mobile-menu-dropdown ul li a {
            color: #fff;
            float: left;
            text-decoration: none;
            padding: 5px 0px;
            width: 100%;
            font-family: Open_sans;
            font-size: 1.1rem;
        }
        #menu_toggle:checked ~ .mobile-menu-dropdown {
            transform: translateX(0%);
        }
        .mobile-menu {
            float: right;
            width: 50px;
            justify-content: center;
            height: 60px;
            align-items: center;
            font-size: 1.6rem;
            border: 1px solid rgb(0, 0, 0, 0.4);
            border-radius: 3px;
            position: absolute;
            right: 5px;
        }
    }

        .search-bar{
             margin-left: 20px;
             width: 75%;
            input{
                width: 80%;
                padding: 5px 20px;
                border: 1px solid #000;
                border-radius: 5px;
                letter-spacing: .1rem;
                font-weight: 100;
                background: transparent;
                :active{
                    border: none;
                }
            }
            button{
                
                font-family: "Roboto", sans-serif;
                font-size: 1rem;
                font-weight: 500;
                border-radius: 5px;
                background-color: #E8772E;
                width: 100px;
                height: 35px;
                border: none;
                color: #fff;
                cursor: pointer;
            }
        }

        .upload-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #E8772E;
            width: 100px;
            height: 35px;
            border-radius: 5px;
            a{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 1rem;
                color: #fff;
            }
            button{
                
                font-family: "Roboto", sans-serif;
                font-size: 1rem;
                font-weight: 500;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                border: none;
                color: #fff;
                cursor: pointer;
            }

        }

        .notification-alert{
            height: 20px;
            width: 20px;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
            }
        
    

            .cart-cont{
                display: none;
            }

        }
        .inbox-icon{
            height: 20px;
            width: 20px;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .settings-mini{
            margin-right: 20px;
            width: 35px;
            height: 35px;
            img{
                width: 100%;
                height: 100%;
                object-fit: fill;
                border-radius: 50%;
            }
        }
       
        
    }



.main-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 10px;

    .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        padding-top: 100px; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 
      }
      
      
      .upload-popup {
        font-family: "Roboto", sans-serif;
        background-color: #fefefe;
        border: none;
        border-radius: 5px;
        box-shadow: 0 5px 10px 2px rgb(248, 246, 246);
        margin: auto;
        padding: 20px;
        width: 40%;

        .upload-options{
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            .upload-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid #aaaaaa;
                border: dashed;
                border-radius: 10px;
                cursor: pointer;
                .upload-icon{
                    width: 100px;
                    height: 100px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }

                .upload-caption{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    margin: 20px;
                    border: none;
                    border-radius: 5px;
                    padding: 5px 10px;
                    //background: linear-gradient(to right, #fe8c00, #f83600);
                    input{
                        font-size: 1rem;
                        font-weight: 300;
                       // color: #fff;
                       // background: linear-gradient(to right, #fe8c00, #f83600);
                    }
                    button{
                        padding: 5px 10px;
                        font-family: "Roboto", sans-serif;
                        font-size: 1rem;
                        font-weight: 400;
                        background: #fe8c00;
                        background: linear-gradient(to right, #fe8c00, #f83600);
                        border-radius: 5px;
                        margin-top: 20px;
                        border: none;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
      }
      
    
      .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }

.feed-all{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    
}



.feed{
    width: 65%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    .mpg-title{
        padding: 0px 0px;
        margin-bottom: 20px;
        margin-top: -10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        h1{
            font-family: "Roboto", sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
            color: #888787;
        }
        img{
            margin-top: 8px;
            width: 20px;
            height: 20px;
            object-fit: cover;
        }
    }
    .feed-post{
        width: 100%;
        margin: auto;
        margin-bottom: 40px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0px 0px 2px rgb(202, 199, 199);
        background: #fff;
        .post-profile{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            cursor: pointer;
            .post-profile-img{
                width: 25px;
                height: 25px;
                border-radius: 50%;
                img{
                    width: 100%;
                    height: 100%;
                
                    object-fit: cover;
                }
            }
            .post-profile-name{
                font-family: "Roboto", sans-serif;
                margin-left: 10px;
                z-index: 1;
                a{
                    text-decoration: none;
                h1{
                font-weight: 600;
                font-size: .8rem;
                text-transform: capitalize;
                color: #fff;
                }
            }
            }
        }

        .post-main-content{
            margin-top: -30px;
            width: 100%;
            height: 60vh;
            img{
                width: 100%;
                height: 100%;
                border-radius: 10px 10px 0px 0px;
                object-fit: cover;
            }
        }

        .post-interactions{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
    
            .like-btn{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                gap: 5px;
                margin-left: 10px;
                margin-bottom: 3px;
                margin-top: 3px;
                cursor: pointer;
                img{
                    width: 20px;
                    height: 20px;
                    transition: transform 500ms ease-in-out;
                }
                h1{
                    margin-left: 40px;
                    font-family: "Roboto", sans-serif;
                    font-size: .7rem;
                    font-weight: 400;
                    border:1px solid #f00;
                }
                p{
                    font-family: "Roboto", sans-serif;
                    font-size: .8rem;
                    span{
                        color: #555;
                    }
                }
                img:hover{
                    transform: scale(1.5);
                }
            }
        

            .comment-btn{
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                margin-left: 40px;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 100%;
                }  
            }

           
        }

        .caption{
            margin: auto;
            margin-top: 10px;
            margin-left: 10px;
            margin-bottom: 3px;
            p{
                font-family: "Roboto", sans-serif;
                font-size: .8rem; 
                font-weight: 600;
                color:#7d7d7d;
                text-transform: capitalize;
                max-width: 12rem;
                 display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                span{
                    color: #000;
                    font-weight: 400;
                }
            }
        }
    }
}
.side-cont{
    width: 30%;
    //padding: 15px 0px 0px 0px;
    position: sticky;
    box-shadow: 0 10px 10px -5px rgb(202, 199, 199);
    border-radius: 5px;
    margin-top: -10px;
    top: 70px;
    //margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.side-options{
    width: 100%; 
    border-radius: 10px;
    padding: 10px 0px;
    //box-shadow: 0 10px 10px -5px rgb(202, 199, 199);
    //margin-bottom: 20px;
    

    
    .side-title{
        background-color: rgb(244, 241, 241);
        border-radius: 5px 5px 0px 0px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
        h1{
            font-family: "Montserrat", sans-serif;
            font-size: .9rem;
            font-weight: 500;
            color:  #E8772E;
            padding: 5px 10px 5px 10px;
           
        }
      
    }
    .new-followers{
        margin: auto;
        margin-top: 1px;
        margin-bottom: 1px;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        
        a{
            width: 100%;
            background: #e9e8e7;
            padding: 5px 20px;
            border-radius: 5px;
            margin: auto;
        .n-follower{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            .follower-img{
                width: 30px;
                height: 30px;
            
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    height: 100%;
    
                    object-fit: cover;
                }
            }
            .follower-name{
                margin-left: 10px;
                font-family: "Montserrat", sans-serif;
                display: flex;
                align-items: center;
                justify-content: center;
                h1{
                    color: #444;
                    font-weight: 500;
                    font-size: 0.8rem;
                    letter-spacing: .04rem;
                }
            }
        }
    }
        .follow-btn{
            margin-right: 10px;

            a{
                font-family: "Montserrat", sans-serif;
                text-decoration: none;
            button{
                padding: 3px 10px 3px 10px;
                border-radius: 10px;
                border: none;
                color: #a4a3a3;
                cursor: pointer;
                font-weight: 500;
                font-size: 0.8rem;
                letter-spacing: .04rem;
                background: rgb(244, 241, 241);
            
                
            }
            :hover{
                background-color:  #E8772E;
                border: 1px solid #fff;
                color: #fff;
            }
        }
        }

        .field-icon{
            width: 20px;
            height: 20px;
            margin-left: 40px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

.quote{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 10px 10px -5px rgb(202, 199, 199);
    margin-bottom: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    .s-name{
        width: 80%;
        height: 100px;
        margin-top: -150px;
        background-color: #E8772E;
        img{
            width: 100%;
            height: 100px;
            object-fit: cover;
        }
    }
    h3{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 20px;
    font-family: "Montserrat", sans-serif;
    font-size: .9rem;
    font-weight: 500;
    color: #444;

    }
    .signup-btn{
        width: 150px;
        height: 35px;
        margin-top: 20px;
        background-color: #E8772E;
        border-radius: 5px;
        a{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            h3{
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 1rem;
           
            color: #fff;
            }
        }
    }
}

}

.modal-alert{
    .cart-info{
        .cart-h1{
            h1{
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                color: #444;
            }
        }

        .cart-checkout{
            width: 96%;
            margin-top: 10px;
            margin-left: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
            font-family: "Roboto", sans-serif;
            box-shadow: 0 10px 10px 5px rgb(202, 199, 199);
            border-radius: 5px;
            .item-num{
                margin-left: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
                h1{
                    font-family: "Roboto", sans-serif;
                    color: #444;
                    font-size: 1rem;
                    font-weight: 400;
                    span{
                        color: #000;
                    }
                }
            }
            .checkout-total{
                h1{
                    font-family: "Roboto", sans-serif;
                    color: #444;
                    font-size: 1rem;
                    font-weight: 400;
                    span{
                        color: #000;
                    }
                }
            }
            button{
                margin-right: 10px;
                width: 100px;
                height: 30px;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 1.1rem;
                border: none;
                border-radius: 5px;
                color: #fff;
                background-color: rgb(244, 125, 82);
                cursor: pointer;
            }
        }

        .cart-items{
            width: 96%;
            margin-top: 20px;
            margin-left: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
            font-family: "Roboto", sans-serif;
            box-shadow: 0 10px 10px 5px rgb(202, 199, 199);
            border-radius: 5px;
            img{
                width: 50px;
                height: 60px;
                margin-left: 10px;
                object-fit: fill;
                border-radius: 5px;
            }
            .item-det{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h2{
                    font-size: 1rem;
                    color: #000;
                }
                h3{
                    font-size: .8rem;
                    color: #444;
                }
            }
            .item-price{
                display: flex;
                align-items: center;
                justify-content: center;
                
                h1{
                    font-size: 1rem;
                    color: #444;
                }
            }
            h2{
                color: #444;
                cursor: pointer;
                margin-right: 10px;
            }
        }
    }
}


.find-cont{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 20px 20px;
    justify-content: flex-start;
    flex-direction: row;

.search-results{

    width: 40%;
    display: flex;
    align-items: flex-start;
    padding: 20px 20px;
    justify-content: flex-start;
    flex-direction: column;
    .search-result{
        padding: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        margin-bottom: 2px;
        background: #efeeee;
        border-radius: 5px;
        a{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        h1{
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            color: #888787;
        }
        .search-img{
            width: 40px;
            height: 40px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
        
    }
    .search-info{
        margin-left: 10px;
        h1{
            font-family: "Montserrat", sans-serif;
            font-size: 15px;
            font-weight: 500;
        }
    }
    }
    }

    
    
}
.find-side{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 0px 10px;
    h1{
        font-family: "Montserrt", sans-serif;
        font-weight: 500;
        font-size: 4rem;
        color: #d6d3d0;
        img{
            width: 15px;
            height: 15px;
            margin-left: 210px;
            margin-top: -20px;
        }
    }
    h2{
        font-family: "Montserrt", sans-serif;
        font-weight: 500;
        font-size: 1.3rem;
        color: #b1b0b0;
        margin-top: 20px;
    }
}
}

@media all and (max-width:300px){
    .cont-left{
        display: none;
    }
    .cont-right{
        .nav-bar{
            padding: 5px 0px;
            .logo-pic{
                display: flex;
                margin-left: 0px;
                img{
                    width: 25px;
                    height: 25px;
                }
            }
            .mini-nav{
                display: flex;
                margin-right: 5px;
                .mobile-menu-dropdown {
                    position: fixed;
                    width: 50%;
                    height: 80%;
                    margin-top: -20px;
                    background: rgb(0, 0, 0, 0.93);
                    z-index: 9;
                    transform: translateX(200%);
                    transition: transform 500ms ease-in-out;
                    z-index: 1;
                }
                .mobile-menu-dropdown ul {
                    margin-top: 50px;
                    margin-left: 10px;
                    margin-right: 10px;
                    list-style: none;
                    text-decoration: none;
                    padding: 5px;
                }
                .mobile-menu-dropdown ul li {
                    padding: 5px 0px;
                    float: left;
                    width: 100%;
                    box-shadow: none !important;
                    overflow: hidden;
                    text-indent: 5px;
                    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
                }
                .mobile-menu-dropdown ul li a {
                    color: #fff;
                    float: left;
                    text-decoration: none;
                    padding: 5px 0px;
                    width: 100%;
                    font-family: "Montserrat", sans-serif;
                    font-size: 1.1rem;
                }
                #menu_toggle:checked ~ .mobile-menu-dropdown {
                    transform: translateX(-105%);
                }
                .mobile-menu {
                    float: right;
                    width: 50px;
                    justify-content: center;
                    height: 60px;
                    align-items: center;
                    font-size: 1.6rem;
                    border: 1px solid rgb(0, 0, 0, 0.4);
                    border-radius: 3px;
                    position: absolute;
                    right: 5px;
                }
            }
            .search-bar{
                margin-left: 0px;
                input{
                    width: 150px;
                    font-size: 10px;
                }
                button{
                    width: 35px;
                    height: 25px;
                    font-size: 10px;
                    padding: 0px 2px;
                    
                }
            }
            .upload-btn{
                display: none;
            }
            .settings-mini{
                display: none;
            }
        }
        .main-sec{
            .feed-all{
                .feed{
                    width: 100%;
                    .mpg-title{
                
                        h1{
                            font-size: 15px;
                        }
                        img{
                            width: 10px;
                            height: 10px;
                            
                        }
                    }
                }
              
                .side-cont{
                    display: none;
                }
            }
        }
    }

    .find-cont{
        .search-results{
            width: 100%;
            padding: 0px;
            .search-result{
                padding: 0px;
                color: #444;
            }
        }
        .find-side{
            display: none;
        }
    }
    .pg-title{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0px;
        margin: 0px;
        h2{
            margin: 0px;
            padding: 0px;
            font-size: 15px;
        

        }
        img{
            margin: 0px;
            padding: 0px;
            width: 5px;
            height: 5px;
        }
    }
   
}
@media all and (max-width:500px) and (min-width:300px) {
    .cont-left{
        display: none;
    }
    .cont-right{
        .nav-bar{
            padding: 5px 10px;
            .logo-pic{
                display: flex;
                margin-left: 0px;
                img{
                    width: 25px;
                    height: 25px;
                }
            }
            .mini-nav{
                display: flex;
                margin-right: 5px;
                .mobile-menu-dropdown {
                    position: fixed;
                    width: 50%;
                    height: 80%;
                    margin-top: -20px;
                    background: rgb(0, 0, 0, 0.93);
                    z-index: 9;
                    transform: translateX(200%);
                    transition: transform 500ms ease-in-out;
                    z-index: 1;
                }
                .mobile-menu-dropdown ul {
                    margin-top: 50px;
                    margin-left: 10px;
                    margin-right: 10px;
                    list-style: none;
                    text-decoration: none;
                    padding: 5px;
                }
                .mobile-menu-dropdown ul li {
                    padding: 5px 0px;
                    float: left;
                    width: 100%;
                    box-shadow: none !important;
                    overflow: hidden;
                    text-indent: 5px;
                    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
                }
                .mobile-menu-dropdown ul li a {
                    color: #fff;
                    float: left;
                    text-decoration: none;
                    padding: 5px 0px;
                    width: 100%;
                    font-family: "Montserrat", sans-serif;
                    font-size: 1.1rem;
                }
                #menu_toggle:checked ~ .mobile-menu-dropdown {
                    transform: translateX(-105%);
                }
                .mobile-menu {
                    float: right;
                    width: 50px;
                    justify-content: center;
                    height: 60px;
                    align-items: center;
                    font-size: 1.6rem;
                    border: 1px solid rgb(0, 0, 0, 0.4);
                    border-radius: 3px;
                    position: absolute;
                    right: 5px;
                }
            }
            .search-bar{
                margin-left: 0px;
                input{
                    //width: 150px;
                    font-size: 10px;
                }
                button{
                    width: 35px;
                    height: 25px;
                    font-size: 10px;
                    padding: 0px 2px;
                    
                }
            }
            .upload-btn{
                display: none;
            }
            .settings-mini{
                display: none;
            }
        }
        .main-sec{
            .feed-all{
                .feed{
                    width: 100%;
                    .mpg-title{
                
                        h1{
                            font-size: 15px;
                        }
                        img{
                            width: 10px;
                            height: 10px;
                            
                        }
                    }
                }
              
                .side-cont{
                    display: none;
                }
            }
        }
    }

    .find-cont{
        .search-results{
            width: 100%;
            padding: 0px;
            .search-result{
                padding: 0px;
                color: #444;
            }
        }
        .find-side{
            display: none;
        }
    }
    .pg-title{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0px;
        margin: 0px;
        h2{
            margin: 0px;
            padding: 0px;
            font-size: 15px;
        

        }
        img{
            margin: 0px;
            padding: 0px;
            width: 5px;
            height: 5px;
        }
    }
   
}

@media all and (max-width:890px) and (min-width:500px) {
    .cont-left{
        display: none;
    }
    .cont-right{
        .nav-bar{

            padding: 5px 10px;
            .logo-pic{
                display: flex;
                margin-left: 0px;
                img{
                    width: 25px;
                    height: 25px;
                }
            }
            .mini-nav{
                display: flex;
                margin-right: 5px;
                .mobile-menu-dropdown {
                    position: fixed;
                    width: 50%;
                    height: 80%;
                    margin-top: -20px;
                    background: rgb(0, 0, 0, 0.93);
                    z-index: 9;
                    transform: translateX(200%);
                    transition: transform 500ms ease-in-out;
                    z-index: 1;
                }
                .mobile-menu-dropdown ul {
                    margin-top: 50px;
                    margin-left: 10px;
                    margin-right: 10px;
                    list-style: none;
                    text-decoration: none;
                    padding: 5px;
                }
                .mobile-menu-dropdown ul li {
                    padding: 5px 0px;
                    float: left;
                    width: 100%;
                    box-shadow: none !important;
                    overflow: hidden;
                    text-indent: 5px;
                    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
                }
                .mobile-menu-dropdown ul li a {
                    color: #fff;
                    float: left;
                    text-decoration: none;
                    padding: 5px 0px;
                    width: 100%;
                    font-family: "Montserrat", sans-serif;
                    font-size: 1.1rem;
                }
                #menu_toggle:checked ~ .mobile-menu-dropdown {
                    transform: translateX(-105%);
                }
                .mobile-menu {
                    float: right;
                    width: 50px;
                    justify-content: center;
                    height: 60px;
                    align-items: center;
                    font-size: 1.6rem;
                    border: 1px solid rgb(0, 0, 0, 0.4);
                    border-radius: 3px;
                    position: absolute;
                    right: 5px;
                }
            }
            .search-bar{
                margin-left: 0px;
                 
                
                button{
                    width: 60px;
                    height: 30px;
                    font-size: 15px;
                    font-weight: 400;
                    padding: 0px 2px;
                    
                }
            }
            .upload-btn{
                display: none;
            }
            .settings-mini{
                display: none;
            }
        }
        .main-sec{
            .feed-all{
                .feed{
                    width: 100%;
                    .mpg-title{
                
                        h1{
                            font-size: 15px;
                        }
                        img{
                            width: 10px;
                            height: 10px;
                            
                        }
                    }
                }
              
                .side-cont{
                    display: none;
                }
            }
        }
    }

    .find-cont{
        .search-results{
            width: 100%;
            padding: 0px;
            .search-result{
                padding: 0px;
                color: #444;
            }
        }
        .find-side{
            display: none;
        }
    }
    .pg-title{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0px;
        margin: 0px;
        h2{
            margin: 0px;
            padding: 0px;
            font-size: 15px;
        

        }
        img{
            margin: 0px;
            padding: 0px;
            width: 5px;
            height: 5px;
        }
    }
}

@media all and (max-width:1000px) and (min-width:890px) {
    .cont-left{
        .logo-pic{
            margin-bottom: -20px;
            img{
                width: 40px;
                height: 40px;
            }
        }
        .profile-details{
            display: none;
        }
    }

    .cont-right{
        .nav-bar{
        
            padding: 5px 10px;
            .logo-pic{
                display: none;
                margin-left: 0px;
                img{
                    width: 25px;
                    height: 25px;
                }
            }
            .mini-nav{
                display: none;
                margin-right: 5px;
                .mobile-menu-dropdown {
                    position: fixed;
                    width: 50%;
                    height: 80%;
                    margin-top: -20px;
                    background: rgb(0, 0, 0, 0.93);
                    z-index: 9;
                    transform: translateX(200%);
                    transition: transform 500ms ease-in-out;
                    z-index: 1;
                }
                .mobile-menu-dropdown ul {
                    margin-top: 50px;
                    margin-left: 10px;
                    margin-right: 10px;
                    list-style: none;
                    text-decoration: none;
                    padding: 5px;
                }
                .mobile-menu-dropdown ul li {
                    padding: 5px 0px;
                    float: left;
                    width: 100%;
                    box-shadow: none !important;
                    overflow: hidden;
                    text-indent: 5px;
                    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
                }
                .mobile-menu-dropdown ul li a {
                    color: #fff;
                    float: left;
                    text-decoration: none;
                    padding: 5px 0px;
                    width: 100%;
                    font-family: "Montserrat", sans-serif;
                    font-size: 1.1rem;
                }
                #menu_toggle:checked ~ .mobile-menu-dropdown {
                    transform: translateX(-105%);
                }
                .mobile-menu {
                    float: right;
                    width: 50px;
                    justify-content: center;
                    height: 60px;
                    align-items: center;
                    font-size: 1.6rem;
                    border: 1px solid rgb(0, 0, 0, 0.4);
                    border-radius: 3px;
                    position: absolute;
                    right: 5px;
                }
            }
            .search-bar{
                margin-left: 0px;
                input{
                    width: 400px;
                   
                }
               
            }
           
        }
        .main-sec{
            .feed-all{
                .feed{
                    width: 100%;
                    .mpg-title{
                
                        h1{
                            font-size: 15px;
                        }
                        img{
                            width: 10px;
                            height: 10px;
                            
                        }
                    }
                }
              
                .side-cont{
                    display: none;
                }
            }
        }
    }

    .find-cont{
        .search-results{
            width: 100%;
            padding: 0px;
            .search-result{
                padding: 0px;
                color: #444;
            }
        }
        .find-side{
            display: none;
        }
    }
    .pg-title{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0px;
        margin: 0px;
        h2{
            margin: 0px;
            padding: 0px;
            font-size: 15px;
        

        }
        img{
            margin: 0px;
            padding: 0px;
            width: 5px;
            height: 5px;
        }
    }
}