.main-listings{
    width: 100%;
   
}

.add-listing{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 5px 5px;
    margin-left: 20px;

    h1{
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        color: #888787;
    }

    img{
        margin-top: 0px;
        width: 20px;
        height: 20px;
        object-fit: cover;
    }

    
}

.categories-pick{
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin: auto;
    .cat-list{
        width: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background: #fff;
        box-shadow: 0 2px 2px -2px rgb(202, 199, 199);
        border-radius: 5px;
        border: none;
    h4,h5{
        color: #555;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 1rem;
        margin-right: 5px;
        cursor: pointer;
    }
}
}

.listing{
    width: 95%;
    min-height: 100vh;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    
    .stay-booking{
        display: none !important;
    }

    .search-list{
        width: 90%;
        margin: auto;
        margin-top: 40px;
        form{
            .search-btn{
                background:  #E8772E;
            }
        }
        
    }

    

    
    .feature-title{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 20px;
        

        .search-cat{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 10px;
            
            h2{
                margin-bottom: 10px;
                color: #555;
            }
        ul{
            list-style: none;
            align-items: center;
            li{
            float: left;
            margin-left: 10px;
            font-family: "Montserrat", sans-serif; 
            background-color: transparent;
            border: 1px solid #444;
            border-radius: 5px;
            padding: 4px 10px;
            cursor: pointer;
            }
            a{
                text-decoration: none;
            
            }
        }
    }
    a{
        text-decoration: none;
        
        .search-link{
            margin: 10px auto;
            align-items: center;
            text-align: center;
            box-shadow: 0 2px 2px -2px rgb(202, 199, 199);
            background:  #E8772E;
            border-radius: 5px;

          h1{
            
            font-family: "Montserrat", sans-serif;
            font-size: 1.3rem;
            font-weight: 400;
            color: #fff;
            
          }
        }
    }
       
        
    }
    
    h1{
        font-family: "Montserrat", sans-serif;
        font-size: 1.7rem;
        font-weight: 500;
        margin: 20px 20px;
        margin-top: 40px;
    }
}

.listing-cards{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 10px;
    gap: 5px;
     a{
        text-decoration: none;
     }
    .listing-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        margin-bottom: 30px;
        align-items: center;
        width: 290px;
        border-radius: 5px;
        cursor: pointer;
        img{
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 10px;
        }
        .listing-info{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: auto;
            h4{
                width: 95%;
                margin: auto;
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                font-size: 1rem;
                color: #000;
                text-transform: capitalize;
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .item-det{
                width: 95%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: auto;
                margin-bottom: 5px;
                
                
            h5{
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                font-size: .8rem;
                text-transform: capitalize;
                color: #000; 
                span{
                    font-size: .8rem;
                    color: #555;
                }
            }
        }
        }

    }

    /* Product Description Section */

.product-desc{
     display: none !important;
       
}


    
}
.modal-alert{

    
   .booking-detail{
        
    .booking-img{
        width: 100%;
        height: 250px;
        img{
            width: 96%;
            margin: auto;
            height: 250px;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    .booking-title{
        h1{
            color:#444;
            text-transform: capitalize;
            font-family: "Roboto", sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
            margin-top: 20px;

        } 
        h4{
            font-family: "Roboto", sans-serif;
            font-size: 1.1rem;
            font-weight: 500;
            margin-top: 5px;
            margin-bottom: 5px;
            color: rgb(129, 129, 129);
        } 
    }

    .booking-stats{

        width: 96%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        gap: 10px;
        
        .booking-rating{
            border-right: 1px solid rgb(228, 226, 226);
            width: 50%;
            h1{
                font-family: "Roboto", sans-serif;
                font-size: 1rem;
                font-weight: 500;
                color: rgb(155, 153, 153);
            }
            h2{
                font-family: "Roboto", sans-serif;
                font-size: 1rem;
                font-weight: 500;
                color: rgb(155, 153, 153);
            }
            
        }

        .booking-price{
            width: 50%;
            h1{
                font-family: "Roboto", sans-serif;
                font-size: 1rem;
                font-weight: 500;
                color: rgb(155, 153, 153);
            }
            h2{
                font-family: "Roboto", sans-serif;
                font-size: 1.2rem;
                font-weight: 500;
                color: #555;
            }
            
        }


    }

    .about-booking{
        width: 90%;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-top: 1px solid rgb(228, 226, 226);
            h3{
                font-family: "Roboto", sans-serif;
                font-size: 1rem;
                font-weight: 500;
                margin-top: 5px;
                margin-bottom: 5px;
                color: #444;
            }

            
            h5{
                font-family: "Roboto", sans-serif;
                font-size: .8rem;
                font-weight: 500;
                max-width: 30rem;
                display: -webkit-box;
               -webkit-line-clamp: 2;
               -webkit-box-orient: vertical;
               overflow: hidden;
                color: rgb(155, 153, 153);
            }
    }

    .book-button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        button{
                width: 200px;
                height: 40px;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 1.3rem;
                border: none;
                border-radius: 5px;
                color: #fff;
                background-color: rgb(244, 125, 82);
                cursor: pointer;
        }
    }

    

        }
    


    .pro-info{
        display: flex;
        flex-direction: column;

        .pro-img{
            width: 100%;
            height: 250px;
            img{
                width: 96%;
                margin: auto;
                height: 250px;
                object-fit: fill;
                border-radius: 5px;
            }
        }

        .pro-title{
        h1{
            color:#444;
            text-transform: capitalize;
            font-family: "Roboto", sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
            margin-top: 20px;

        }  
       
    }

        .pro-stats{
            width: 96%;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 10px;
            gap: 10px;
            
            .pro-rating{
                border-right: 1px solid rgb(228, 226, 226);
                width: 50%;
                h1{
                    font-family: "Roboto", sans-serif;
                    font-size: 1rem;
                    font-weight: 500;
                    color: rgb(155, 153, 153);
                }
                h2{
                    font-family: "Roboto", sans-serif;
                    font-size: 1rem;
                    font-weight: 500;
                    color: rgb(155, 153, 153);
                }
                
            }

            .pro-price{
                width: 50%;
                h1{
                    font-family: "Roboto", sans-serif;
                    font-size: 1rem;
                    font-weight: 500;
                    color: rgb(155, 153, 153);
                }
                h2{
                    font-family: "Roboto", sans-serif;
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: #555;
                }
                
            }

        }
        .product-about{
            width: 90%;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-top: 1px solid rgb(228, 226, 226);
            h3{
                font-family: "Roboto", sans-serif;
                font-size: 1rem;
                font-weight: 500;
                margin-top: 5px;
                margin-bottom: 5px;
                color: #444;
            }
            h4{
                font-family: "Roboto", sans-serif;
                font-size: .8rem;
                font-weight: 500;
                max-width: 30rem;
                display: -webkit-box;
               -webkit-line-clamp: 2;
               -webkit-box-orient: vertical;
               overflow: hidden;
                color: rgb(155, 153, 153);
            }
        }

        .interact-btns{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            gap: 10px;
            button{
                width: 200px;
                height: 40px;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 1.3rem;
                border: none;
                border-radius: 5px;
                color: #fff;
                background-color: rgb(244, 125, 82);
                cursor: pointer;
            }
        }
    }
}
.modal_content {
    position: absolute;
    width: 60%;
    min-height: 70px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 5px;
    float: center;
    margin-left: 20%;
    margin-top: 20%;
    transform: scale(0);
    transition: transform 500ms ease-out;
    animation: popupanimation;
    animation-delay: 200ms;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
    background-clip: border-box;
  }
  .modal_inner_content {
    color: #000;
    float: left;
    width: 100%;
    padding: 10px 10px;
  }
  .modal-alert{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    left: 0em;
    top: 0;
    z-index: 500;
    display: none;
  }
  .top-bar {
    padding: 10px 20px;
    background: rgb(3, 3, 3, 0.8);
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
    background-clip: border-box;
    color: #fff;
  }
  .closex {
    display: flex;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    background: #f00;
    justify-content: center;
    float: right;
    padding: 3px;
  }
  @keyframes popupanimation {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @media all and (max-width:300px){
    
    .add-listing{
        margin-top: 0px;
        margin-bottom: 0px;
        display: none;
    }
    .listing{
        margin-top: 0px;
        margin-bottom: 0px;
        .feature-title{
            height: 40px;
            a{
                
                margin-top: 0px;
                padding: 0px 0px;
                .search-link{
                    height: 100%;
                    padding: 0px 5px;
                    margin-top: 0px;
                    h1{
                        padding: 0px;
                        margin: 0px;
                        font-size: .9rem;
                    }
                }
            }
            
        }
    }
    .categories-pick{
        display: none;
    }

    .search-list{
        display: none; 
    }
    
    .feature-title{
        padding: 0px;
        width: 100%;
    
        .search-cat{
            padding: 0px;
            width: 100%;
        
            h2{
                display: none;
            }
            margin-bottom: 10px;
            ul{
                display: flex;
                flex-shrink: initial;
                li{
                    font-size: .7rem;
                
                }
            }
        }
        
    }
    
    .listing-cards{
        display: flex;
        flex-direction: column;
        
        a{
            .listing-card{
                width: 100%;
                margin-bottom: 10px;
                img{
                    width: 100%;
                    height: 120px;
                }
                .listing-info{
                    h4{
                        font-size: .7rem;
                    }
                    .item-det{
                        h5{
                            font-size: .6rem;
                            span{
                                font-size: .5rem;
                            }
                        }
                    }
                }
            }
        }
    }
  }

  @media all and (max-width:500px) and (min-width:300px) {
    .search-list{
        display: none;
    }

    .listing{
        margin-top: 0px;
        margin-bottom: 0px;
        .feature-title{
            height: 40px;
            a{
                
                margin-top: 0px;
                padding: 0px 0px;
                .search-link{
                    height: 100%;
                    padding: 0px 5px;
                    margin-top: 0px;
                    h1{
                        padding: 0px;
                        margin: 0px;
                        font-size: 1rem;
                    }
                }
            }
            
        }
    }

    .feature-title{
        padding: 0px;
        width: 100%;
    
        .search-cat{
            padding: 0px;
            width: 100%;
        
            h2{
                display: none;
            }
            margin-bottom: 10px;
            ul{
                display: grid;
                grid-template-columns: auto auto auto;
                align-items: center;
                justify-content: center;
                li{
                    font-size: .7rem;
                
                }
            }
        }
        
    }
    .listing-cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        
        
        a{
            .listing-card{
                width: 100%;
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 10px;
                gap: 20px;
                margin-bottom: 20px;
            
                img{
                    width: 100%;
                    height: 130px;
                }
                .listing-info{
                    margin-top: -25px;
                    h4{
                        font-size: .9rem;
                    }
                    .item-det{
                        margin-top: -5px;
                        h5{
                            font-size: .8rem;
                            span{
                                font-size: .7rem;
                            }
                        }
                    }
                }
            }
        }
    }
  }
  
  @media all and (max-width:800px) and (min-width:500px) {
    .search-list{
        display: none;
    }

    .feature-title{
        padding: 0px;
        width: 100%;
    
        .search-cat{
            padding: 0px;
            width: 100%;
        
            h2{
                display: none;
            }
            margin-bottom: 10px;
            ul{
                display: grid;
                grid-template-columns: auto auto auto;
                align-items: center;
                justify-content: center;
                li{
                    font-size: .7rem;
                
                }
            }
        }
        
    }

    .listing-cards{
        width: 100%;
        display: flexbox;
        align-items: center;
        
        a{
            .listing-card{
                
                width: 100%;
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 10px;
                gap: 20px;
                margin-bottom: 20px;
            
                img{
                    width: 100%;
                    height: 200px;
                }
                .listing-info{
                    margin-top: -15px;
                    h4{
                        font-size: .9rem;
                    }
                    .item-det{
                        h5{
                            font-size: .8rem;
                            span{
                                font-size: .7rem;
                            }
                        }
                    }
                }
            }
        }
    }
  }
  @media all and (max-width:1500px) and (min-width:800px) {
    .listing-cards{
        width: 100%;
        display: flexbox;
        align-items: center;
        
        a{
            .listing-card{ 
                width: 100%;
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 10px;
                gap: 20px;
                margin-bottom: 20px;
            
                img{
                    width: 100%;
                    height: 200px;
                }
                .listing-info{
                    margin-top: -15px;
                    h4{
                        font-size: .9rem;
                    }
                    .item-det{
                        h5{
                            font-size: .8rem;
                            span{
                                font-size: .7rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
  
