.stay-listing{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .listing-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        h1{
            text-transform: capitalize;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            color: #000;
        }
    }
    .listing-card{
        background-color: aliceblue;
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 10px;
        gap: 20px;
        margin-bottom: 50px;
        .listing-img{
            width: 500px;
            height: 450px;
            margin-top: 10px;
            margin-bottom: 10px;
            
            img{
                width: 100%;
                height: 100%;
                border-radius: 10px;
                object-fit: cover;
            }
        }

        .listing-details{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 350px;
        
            .listing-header{
                width: 100%;
                text-align: center;
                align-items: center;
                font-family: "Roboto", sans-serif;
                margin-bottom: 10px;
                h4{
                    text-transform: capitalize;
                    color: #555;
                    font-size: 1.3rem;
                    border-bottom: 1px solid #cfcece;
                }
            }
            .about-listing{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                font-family: "Roboto", sans-serif;
                margin-bottom: 10px;
                h3{
                    margin-bottom: 10px;
                    width: 100%;
                }
                h5{
                    width: 100%;
                    font-weight: 400;
                    text-transform: capitalize;
                    color: #555;
                }
            }
            .listing-price{
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: flex-end;
                gap: 20px;
                font-family: "Roboto", sans-serif;
                h1{
                    font-size: 1.2rem;
                    color: #000;
                    span{
                        color: #555;
                        font-weight: 400;
                        font-size: 1rem;
                    }
                }
                h2{
                    font-size: 1.2rem;
                    color: #000;
                    margin-right: 10px;
                    span{
                        color: #555;
                        font-weight: 400;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .book-button{
            width: 100%;
            margin-top: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                border: none;
                background-color: rgb(249,142,84);
                padding: 4px 10px;
                color: #fff;
                border-radius: 5px;
                font-size: 1.2rem;
            }
        }

        .creator{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-family: "Roboto", sans-serif;
            margin-top: 20px;
            gap: 10px;
            h5{
                color: #555;
                font-size: 1rem;
                box-shadow: 10px 10px 10px -5px rgb(202, 199, 199);
                padding: 4px 10px;
                border-radius: 5px;
            }
            .creator-opt{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 10px;
            a{
                font-size: 1rem;
                text-decoration: none;
                background-color: rgb(249,142,84);
                color: #fff;
                padding: 4px 10px;
                border-radius: 5px;
                box-shadow: 10px 10px 10px -5px rgb(202, 199, 199);
            }
            }
        }
    }
}

.related-options{
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    h1{
    font-size: 1.4rem;
    font-weight: 500;
    color: #555;
    }
}

.new-add {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .add-title{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
        text-transform: capitalize;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        
        .form-item{
            input{
            width: 600px;
            border: none;
            border-radius: 10px;
            font-family: "Roboto" sans-serif;
            font-size: 1rem;
            padding: 10px;
            }

           
        }

        button{
            margin-top: 10px;
            width: 100px;
            color: #fff;
        }
        
    }
}
