.profile-container{
    width: 100%;
    min-height: 100vh;

    .profile-cont{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        .profile-pic{
            margin-right: 10px;
            width: 220px;
            height: 220px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .profile-info{
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            .edit-page{
                display: none;
            }
            .profile-edit{
                position: absolute;
                overflow: hidd;
                width: 500px;
                border: 1px solid #555;
                display: none;
                border-radius: 5px;
                box-shadow: 0px 0px 5px #444;
                background: #fff;
            }

            .profile-edit-bg{
                width: 100%;
                height:100%;
                background: rgb(0,0,0,0.6);
                backdrop-filter: blur(4px);
                position: absolute;
                top: 0px;
                right: 0px;
                left: 0px;
                display: none;
            }

            .person-name{
                h1{
                    font-family: "Roboto", sans-serif;
                    color: #444;
                    font-size: 1.5rem;
                    font-weight: 500;

                }
            }

            .profile-bio{
                margin-top: 10px;
                h4{
                    font-family: "Roboto", sans-serif;
                    font-size: 1rem;
                    font-weight: 400;
                    color: #555;
                }
            }
            .profile-btn{
                margin-top: 10px;
                display: flex;
                flex-direction: row;
                gap: 5px;
                align-items: center;
                form{
                .follow{
                    background: linear-gradient(to right, #fe8c00, #f83600);
                    color: #fff;
                    margin-right: 20px;
                }
                a{
                    cursor: pointer;
                    font-family: "Roboto", sans-serif;
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 500;
                    color: #fff;
                    width: 150px;
                    background: linear-gradient(to right, #fe8c00, #f83600);
                    box-shadow: 0 2px 2px -2px rgb(202, 199, 199);
                    border: none;
                    
                }
                button{
                    cursor: pointer;
                    padding: 5px 10px;
                    font-family: "Roboto", sans-serif;
                    font-size: 1rem;
                    font-weight: 400;
                    box-shadow: 0 2px 2px -2px rgb(202, 199, 199);
                    border: none;
                    border-radius: 5px;
                    color: #555;
                }
              }
              button{
                cursor: pointer;
                padding: 5px 10px;
                font-family: "Roboto", sans-serif;
                font-size: 1rem;
                font-weight: 400;
                box-shadow: 0 2px 2px -2px rgb(202, 199, 199);
                border: none;
                border-radius: 5px;
                color: #555;
            }
            }
            .profile-stats{
                display: flex;
                flex-direction: row;
                margin-top: 20px;
                
                .stat-l{
                    display: flex;
                    flex-direction: row;
                    font-family: "Roboto", sans-serif;
                    gap: 5px;
                    padding: 5px 20px 0px 0px;
                    h3{
                        font-weight: 300;
                        color: #555;
                    }
                    span{
                        font-weight: 500;
                    }
                }
                .stat{
                    display: flex;
                    flex-direction: row;
                    font-family: "Roboto", sans-serif;
                    gap: 5px;
                    padding: 5px 20px 0px 0px;
                    border-right: 1px solid #555;
                    margin-right: 20px;
                    h3{
                        font-weight: 300;
                        color: #555;
                    }
                    span{
                        font-weight: 500;
                    }
                }
            }
        
        }
    }
    .profile-features{
        width: 100%;
        display: flex;
        flex-direction: column;
        border-top: 1px solid #555;
        margin-top: 20px;
        .feature-title{
            padding: 0px 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-family: "Roboto", sans-serif;
            margin-top: 20px;
            h3{
              font-family: "Roboto", sans-serif;
              font-size: 1.5rem;
              font-weight: 400;
              text-transform: capitalize;
              color: #888787;
            }
            button{
                cursor: pointer;
                padding: 0px 10px;
                font-family: "Roboto", sans-serif;
                font-size: 1.1rem;
                font-weight: 400;
                box-shadow: 0 2px 2px -2px rgb(202, 199, 199);
                background: linear-gradient(to right, #fe8c00, #f83600);
                border: none;
                border-radius: 5px;
                color: #fff;
                span{
                    font-weight: 600;
                }
            }

            .upload{
                display: none;
            }

            
                        
        }
        .profile-posts{ 
            margin: auto;
            margin-bottom: 30px;
            margin-top: -40px;
            width: 95%;
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 5px;
            .post-item{
                width: 290px;
                cursor: pointer;
                margin-top: 10px;
                img{
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }

            
        }

        .zero-messo{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                font-size: 3rem;
                color: #dbdada;
            }
        }

        .my-cont{
            width: 95%;
            margin: auto;
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 5px;
            margin-bottom: 20px;
            .stay-booking{
                display: none;
            }
            .cont-item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 220px;
                height: 300px;
                border-radius: 5px;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                    border-radius: 5px;
                }
                .duka-info{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 0px;
                    h3{
                        font-family: "Roboto", sans-serif;
                        font-weight: 400;
                        font-size: 1rem;
                        color: #555;
                        margin-bottom: 5px;
                        text-transform: capitalize;
                    }
                    h4{
                        font-family: "Roboto", sans-serif;
                        font-weight: 500;
                        font-size: 1rem;
                        color: #555; 
                        span{
                            color: #000;
                            font-weight: 300;
                        }
                    }
                }

            }
        }
    }
}



//edit popup

.modal-alert{

    .form-title{
        display: flex;
        align-items: center;
        justify-content: center;
    h1{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #444;
    }
}

    .form-cont{
    form{
        width: 96%;
        .form-group{
            display: flex;
            flex-direction: column;
            label{
            font-family: "Roboto", sans-serif;
            }
        }
    }
 }
}

@media all and (max-width:350px){
    .dash-head{
        .pg-title{
            display: none;
        }
    }
    .p-g-title{

        h1{
        font-family: "Montserrat", sans-serif;
        font-size: .9rem;
        font-weight: 500;
        margin-left: -10px;
        color: #646363;
        }
    }
    .profile-container{
       margin-top: -10px;
        .dash-head{
            .pg-title{
                display: none;
            }
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .add-link{
               
               a{
                font-size: 1rem;
               }
            }
        }
        
        .profile-cont{ 
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
        
            .profile-pic{
                margin-right: 10px;
                margin-left: 10px;
                width: 90px;
                height: 90px;
            
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .profile-info{
                width: 60%;
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                
                .edit-page{
                    display: none;
                }
                .profile-edit{
                    position: absolute;
                    overflow: hidd;
                    width: 500px;
                    border: 1px solid #555;
                    display: none;
                    border-radius: 5px;
                    box-shadow: 0px 0px 5px #444;
                    background: #fff;
                }
    
                .profile-edit-bg{
                    width: 100%;
                    height:100%;
                    background: rgb(0,0,0,0.6);
                    backdrop-filter: blur(4px);
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    left: 0px;
                    display: none;
                }
    
                .person-name{
                    h1{
                        font-family: "Montserrat", sans-serif;
                        color: #444;
                        font-size: .8rem;
                        font-weight: 500;
    
                    }
                }
    
                .profile-bio{
                    margin-top: 1px;
                    h4{
                        font-family: "Montserrat", sans-serif;
                        font-size: .7rem;
                        font-weight: 400;
                        color: #555;
                    }
                }
                .profile-btn{
                    margin-top: 1px;
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    align-items: center;
                    form{
                    .follow{
                        background: linear-gradient(to right, #fe8c00, #f83600);
                        color: #fff;
                        margin-right: 20px;
                        font-size: .9rem;
                    }
                    a{
                        cursor: pointer;
                        font-family: "Roboto", sans-serif;
                        text-decoration: none;
                        font-size: .6rem;
                        font-weight: 500;
                        color: #fff;
                        width: 150px;
                        background: linear-gradient(to right, #fe8c00, #f83600);
                        box-shadow: 0 2px 2px -2px rgb(202, 199, 199);
                        border: none;
                        border-radius: 5px;
                        padding: 5px;
                        
                    }
                    button{
                        cursor: pointer;
                        padding: 2px 5px;
                        font-family: "Roboto", sans-serif;
                        font-size: 1rem;
                        font-weight: 400;
                        box-shadow: 0 2px 2px -2px rgb(202, 199, 199);
                        border: none;
                        border-radius: 5px;
                        color: #555;
                    }
                  }
                  button{
                    cursor: pointer;
                    padding: 5px 10px;
                    font-family: "Roboto", sans-serif;
                    font-size: 1rem;
                    font-weight: 400;
                    box-shadow: 0 2px 2px -2px rgb(202, 199, 199);
                    border: none;
                    border-radius: 5px;
                    color: #555;
                }
                }
                .profile-stats{
                    display: flex;
                    flex-direction: row;
                    margin-top: 10px;
                    
                    .stat-l{
                        display: flex;
                        flex-direction: row;
                        font-family: "Montserrat", sans-serif;
                        gap: 5px;
                        padding: 5px 20px 0px 0px;
                        h3{
                            font-weight: 300;
                            color: #555;
                        }
                        span{
                            font-weight: 500;
                        }
                    }
                    .stat{
                        display: flex;
                        flex-direction: row;
                        font-family: "Montserrat", sans-serif;
                        gap: 5px;
                        padding: 5px 5px 0px 0px;
                        border-right: 1px solid #555;
                        margin-right: 10px;
                    
                        h3{
                            font-weight: 300;
                            font-size: .6rem;
                            color: #555;
                        }
                        span{
                            font-weight: 500;
                            font-size: .6rem;
                        }
                    }
                }
            
            }
        
        } 
    .profile-features{
        .feature-title{
            margin-top: 10px;
            margin-bottom: 15px;
            margin-left: -30px;
            h3{
            font-family: "Montserrat", sans-serif;
            font-size: .9rem;
            font-weight: 500;
            color:  #646363;
            }
        }

    .profile-posts{ 
        margin: auto;
        margin-bottom: 0px;
        margin-top: -40px;
        width: 95%;
        display: flexbox;
        align-items: center;
        
        gap: 5px;
        .post-item{
            width: 100%;
            cursor: pointer;
            margin-top: 10px;
            img{
                width: 100%;
                height: 120px;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        
    }

    .zero-messo{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 3rem;
            color: #dbdada;
        }
    }
    }

}
}

@media all and (max-width:500px) and (min-width:350px) {

    .p-g-title{
        h1{
        font-family: "Montserrat", sans-serif;
        font-size: .9rem;
        font-weight: 500;
        margin-left: -10px;
        color: #646363;
        }
    }

    .dash-head{
        .pg-title{
            display: none;
        }
    }
    .profile-container{

        .dash-head{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .add-link{
               
               a{
                font-size: 1rem;
               }
            }
        }
        
        .profile-cont{ 
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
        
            .profile-pic{
                margin-right: 10px;
                margin-left: 10px;
                width: 90px;
                height: 90px;
            
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .profile-info{
                width: 60%;
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                
                .edit-page{
                    display: none;
                }
                .profile-edit{
                    position: absolute;
                    overflow: hidd;
                    width: 500px;
                    border: 1px solid #555;
                    display: none;
                    border-radius: 5px;
                    box-shadow: 0px 0px 5px #444;
                    background: #fff;
                }
    
                .profile-edit-bg{
                    width: 100%;
                    height:100%;
                    background: rgb(0,0,0,0.6);
                    backdrop-filter: blur(4px);
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    left: 0px;
                    display: none;
                }
    
                .person-name{
                    h1{
                        font-family: "Montserrat", sans-serif;
                        color: #444;
                        font-size: .8rem;
                        font-weight: 500;
    
                    }
                }
    
                .profile-bio{
                    margin-top: 1px;
                    h4{
                        font-family: "Montserrat", sans-serif;
                        font-size: .7rem;
                        font-weight: 400;
                        color: #555;
                    }
                }
                .profile-btn{
                    margin-top: 1px;
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    align-items: center;
                    form{
                    .follow{
                        background: linear-gradient(to right, #fe8c00, #f83600);
                        color: #fff;
                        margin-right: 20px;
                        font-size: .9rem;
                    }
                    a{
                        cursor: pointer;
                        font-family: "Roboto", sans-serif;
                        text-decoration: none;
                        font-size: .6rem;
                        font-weight: 500;
                        color: #fff;
                        width: 150px;
                        background: linear-gradient(to right, #fe8c00, #f83600);
                        box-shadow: 0 2px 2px -2px rgb(202, 199, 199);
                        border: none;
                        border-radius: 5px;
                        padding: 5px;
                        
                    }
                    button{
                        cursor: pointer;
                        padding: 2px 5px;
                        font-family: "Roboto", sans-serif;
                        font-size: 1rem;
                        font-weight: 400;
                        box-shadow: 0 2px 2px -2px rgb(202, 199, 199);
                        border: none;
                        border-radius: 5px;
                        color: #555;
                    }
                  }
                  button{
                    cursor: pointer;
                    padding: 5px 10px;
                    font-family: "Roboto", sans-serif;
                    font-size: 1rem;
                    font-weight: 400;
                    box-shadow: 0 2px 2px -2px rgb(202, 199, 199);
                    border: none;
                    border-radius: 5px;
                    color: #555;
                }
                }
                .profile-stats{
                    display: flex;
                    flex-direction: row;
                    margin-top: 10px;
                    
                    .stat-l{
                        display: flex;
                        flex-direction: row;
                        font-family: "Montserrat", sans-serif;
                        gap: 5px;
                        padding: 5px 20px 0px 0px;
                        h3{
                            font-weight: 300;
                            color: #555;
                        }
                        span{
                            font-weight: 500;
                        }
                    }
                    .stat{
                        display: flex;
                        flex-direction: row;
                        font-family: "Montserrat", sans-serif;
                        gap: 5px;
                        padding: 5px 5px 0px 0px;
                        border-right: 1px solid #555;
                        margin-right: 10px;
                    
                        h3{
                            font-weight: 300;
                            font-size: .6rem;
                            color: #555;
                        }
                        span{
                            font-weight: 500;
                            font-size: .6rem;
                        }
                    }
                }
            
            }
        
        } 
    .profile-features{
        .feature-title{
            margin-top: 10px;
            margin-bottom: 15px;
            margin-left: -30px;
            h3{
            font-family: "Montserrat", sans-serif;
            font-size: .9rem;
            font-weight: 500;
            color:  #646363;
            }
        }

    .profile-posts{ 
        margin: auto;
        margin-bottom: 0px;
        margin-top: -40px;
        width: 95%;
        display: flexbox;
        align-items: center;
        gap: 5px;
        .post-item{
            width: 100%;
            cursor: pointer;
            margin-top: 10px;
            img{
                width: 100%;
                height: 130px;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        
    }

    .zero-messo{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 3rem;
            color: #dbdada;
        }
    }
    }

}

} 

@media all and (max-width:800px) and (min-width:500px) {
    .p-g-title{
        h1{
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        font-weight: 500;
        margin-left: -10px;
        color: #646363;
        }
    }
    .dash-head{
    .pg-title{
        display: none;
    }
}
    .profile-container{
    

        .dash-head{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .add-link{
               
               a{
                font-size: 1rem;
               }
            }
        }
        .profile-cont{ 
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
        
            .profile-pic{
                margin-right: 10px;
                margin-left: 30px;
                width: 120px;
                height: 120px;
            
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .profile-info{
                width: 50%;
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                padding: 10px 0px;
                .edit-page{
                    display: none;
                }
                .profile-edit{
                    position: absolute;
                    overflow: hidd;
                    width: 500px;
                    border: 1px solid #555;
                    display: none;
                    border-radius: 5px;
                    box-shadow: 0px 0px 5px #444;
                    background: #fff;
                }
    
                .profile-edit-bg{
                    width: 100%;
                    height:100%;
                    background: rgb(0,0,0,0.6);
                    backdrop-filter: blur(4px);
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    left: 0px;
                    display: none;
                }
    
                .person-name{
                    h1{
                        font-family: "Montserrat", sans-serif;
                        color: #444;
                        font-size: 1.2rem;
                        font-weight: 500;
    
                    }
                }
    
                .profile-bio{
                    margin-top: 1px;
                    h4{
                        font-family: "Montserrat", sans-serif;
                        font-size: .9rem;
                        font-weight: 400;
                        color: #555;
                    }
                }
                .profile-btn{
                    margin-top: 1px;
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    align-items: center;
                    form{
                    .follow{
                        background: linear-gradient(to right, #fe8c00, #f83600);
                        color: #fff;
                        margin-right: 20px;
                        font-size: 1rem;
                    }
                    a{
                        cursor: pointer;
                        font-family: "Roboto", sans-serif;
                        text-decoration: none;
                        font-size: .8rem;
                        font-weight: 500;
                        color: #fff;
                        width: 150px;
                        background: linear-gradient(to right, #fe8c00, #f83600);
                        box-shadow: 0 2px 2px -2px rgb(202, 199, 199);
                        border: none;
                        border-radius: 5px;
                        padding: 5px;
                        
                    }
                    button{
                        cursor: pointer;
                        padding: 2px 5px;
                        font-family: "Roboto", sans-serif;
                        font-size: 1rem;
                        font-weight: 400;
                        box-shadow: 0 2px 2px -2px rgb(202, 199, 199);
                        border: none;
                        border-radius: 5px;
                        color: #555;
                    }
                  }
                  button{
                    cursor: pointer;
                    padding: 5px 10px;
                    font-family: "Roboto", sans-serif;
                    font-size: 1rem;
                    font-weight: 400;
                    box-shadow: 0 2px 2px -2px rgb(202, 199, 199);
                    border: none;
                    border-radius: 5px;
                    color: #555;
                }
                }
                .profile-stats{
                    display: flex;
                    flex-direction: row;
                    margin-top: 10px;
                    
                    .stat-l{
                        display: flex;
                        flex-direction: row;
                        font-family: "Montserrat", sans-serif;
                        gap: 5px;
                        padding: 5px 20px 0px 0px;
                        h3{
                            font-weight: 300;
                            color: #555;
                        }
                        span{
                            font-weight: 500;
                        }
                    }
                    .stat{
                        display: flex;
                        flex-direction: row;
                        font-family: "Montserrat", sans-serif;
                        gap: 5px;
                        padding: 5px 5px 0px 0px;
                        border-right: 1px solid #555;
                        margin-right: 10px;
                    
                        h3{
                            font-weight: 300;
                            font-size: .6rem;
                            color: #555;
                        }
                        span{
                            font-weight: 500;
                            font-size: .6rem;
                        }
                    }
                }
            
            }
        
        } 
    .profile-features{
        .feature-title{
            margin-top: 10px;
            margin-bottom: 25px;
            margin-left: -30px;
            h3{
            font-family: "Montserrat", sans-serif;
            font-size: 1rem;
            font-weight: 500;
            color:  #646363;
            }
        }

    .profile-posts{ 
        margin: auto;
        margin-bottom: 0px;
        margin-top: -40px;
        width: 95%;
        display: flexbox;
        align-items: center;
        gap: 5px;
        .post-item{
            width: 100%;
            cursor: pointer;
            margin-top: 10px;
            img{
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        
    }

   

    .zero-messo{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 3rem;
            color: #dbdada;
        }
    }
    }

}

}

@media all and (max-width:1200px) and (min-width:800px) {
    .p-g-title{
        h1{
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        font-weight: 500;
        margin-left: -10px;
        color: #646363;
        }
    }
    .dash-head{
    .pg-title{
        display: none;
    }
}
    .profile-container{
    

        .dash-head{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .add-link{
               
               a{
                font-size: 1rem;
               }
            }
        }
        .profile-cont{ 
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
        
            .profile-pic{
                margin-right: 10px;
                margin-left: 30px;
                width: 120px;
                height: 120px;
            
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .profile-info{
                width: 50%;
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                padding: 10px 0px;
                .edit-page{
                    display: none;
                }
                .profile-edit{
                    position: absolute;
                    overflow: hidd;
                    width: 500px;
                    border: 1px solid #555;
                    display: none;
                    border-radius: 5px;
                    box-shadow: 0px 0px 5px #444;
                    background: #fff;
                }
    
                .profile-edit-bg{
                    width: 100%;
                    height:100%;
                    background: rgb(0,0,0,0.6);
                    backdrop-filter: blur(4px);
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    left: 0px;
                    display: none;
                }
    
                .person-name{
                    h1{
                        font-family: "Montserrat", sans-serif;
                        color: #444;
                        font-size: 1.2rem;
                        font-weight: 500;
    
                    }
                }
    
                .profile-bio{
                    margin-top: 1px;
                    h4{
                        font-family: "Montserrat", sans-serif;
                        font-size: .9rem;
                        font-weight: 400;
                        color: #555;
                    }
                }
                .profile-btn{
                    margin-top: 1px;
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    align-items: center;
                    form{
                    .follow{
                        background: linear-gradient(to right, #fe8c00, #f83600);
                        color: #fff;
                        margin-right: 20px;
                        font-size: 1rem;
                    }
                    a{
                        cursor: pointer;
                        font-family: "Roboto", sans-serif;
                        text-decoration: none;
                        font-size: .8rem;
                        font-weight: 500;
                        color: #fff;
                        width: 150px;
                        background: linear-gradient(to right, #fe8c00, #f83600);
                        box-shadow: 0 2px 2px -2px rgb(202, 199, 199);
                        border: none;
                        border-radius: 5px;
                        padding: 5px;
                        
                    }
                    button{
                        cursor: pointer;
                        padding: 2px 5px;
                        font-family: "Roboto", sans-serif;
                        font-size: 1rem;
                        font-weight: 400;
                        box-shadow: 0 2px 2px -2px rgb(202, 199, 199);
                        border: none;
                        border-radius: 5px;
                        color: #555;
                    }
                  }
                  button{
                    cursor: pointer;
                    padding: 5px 10px;
                    font-family: "Roboto", sans-serif;
                    font-size: 1rem;
                    font-weight: 400;
                    box-shadow: 0 2px 2px -2px rgb(202, 199, 199);
                    border: none;
                    border-radius: 5px;
                    color: #555;
                }
                }
                .profile-stats{
                    display: flex;
                    flex-direction: row;
                    margin-top: 10px;
                    
                    .stat-l{
                        display: flex;
                        flex-direction: row;
                        font-family: "Montserrat", sans-serif;
                        gap: 5px;
                        padding: 5px 20px 0px 0px;
                        h3{
                            font-weight: 300;
                            color: #555;
                        }
                        span{
                            font-weight: 500;
                        }
                    }
                    .stat{
                        display: flex;
                        flex-direction: row;
                        font-family: "Montserrat", sans-serif;
                        gap: 5px;
                        padding: 5px 5px 0px 0px;
                        border-right: 1px solid #555;
                        margin-right: 10px;
                    
                        h3{
                            font-weight: 300;
                            font-size: .6rem;
                            color: #555;
                        }
                        span{
                            font-weight: 500;
                            font-size: .6rem;
                        }
                    }
                }
            
            }
        
        } 
    .profile-features{
        .feature-title{
            margin-top: 10px;
            margin-bottom: 25px;
            margin-left: -30px;
            h3{
            font-family: "Montserrat", sans-serif;
            font-size: 1rem;
            font-weight: 500;
            color:  #646363;
            }
        }

    .profile-posts{ 
        margin: auto;
        margin-bottom: 0px;
        margin-top: -40px;
        width: 95%;
        display: flex-box;
        align-items: center;
        gap: 5px;
        .post-item{
            width: 100%;
            cursor: pointer;
            margin-top: 10px;
            img{
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        
    }

   

    .zero-messo{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 3rem;
            color: #dbdada;
        }
    }
    }

}

}