
.pg-title{
    padding: 10px 0px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    h1{
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        color: #888787;
    }
    img{
        margin-top: 8px;
        width: 20px;
        height: 20px;
        object-fit: cover;
    }
}

.profile-settings{
    width: 95%;
    margin: auto;
    form{
        width: 100%;
        margin: auto;
        .profile-det{
            width: 96%;
            margin: 5px;
            margin-top: 50px;
            margin-bottom: 10px;
            border-radius: 5px;
            background: #fff;
            box-shadow: 0 10px 10px -5px rgb(202, 199, 199);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            img{
                margin: 10px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
            }
            .det-info{
                margin-left: 10px;
                h1{
                    span{
                        color: #555;
                    }
                    font-family: "Montserrat", sans-serif;
                    margin-bottom: 10px;
                    font-weight: 400;
                    font-size: 1.1rem;
                    color: rgb(54, 56, 91);
                }
                input{
                    font-family: "Montserrat", sans-serif;
                    background-color: rgb(245, 98, 44);
                    color: #fff;
                    border: none;
                    padding: 2px 5px;
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: 400;
                    cursor: pointer;
                }
        }
        }
    


    .basic-info{
        width: 96%;
        margin-top: 40px;
        margin-bottom: 50px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 10px 10px -5px rgb(202, 199, 199);
        background-color: #fff;
        .title{
            h1{
            font-family: "Montserrat", sans-serif;
            margin-left: 10px;
            margin-bottom: 10px;
            font-size: 1.5rem;
            font-weight: 500;
            color: #444;
            }
           
        }

        .info-opt{
            width: 100%;
            margin: auto;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 20px;
            .left-info{
                width: 45%;
                    p{
                        font-family: "Montserrat", sans-serif;
                        margin-bottom: 5px;
                    }
                    input{
                        border: 1px solid #000;
                        border-radius: 5px;
                        padding: 0px 10px;
                        width: 100%;
                        margin-bottom: 10px;
                        
                    }
            }
            .right-info{
                width: 45%;
                p{
                    font-family: "Montserrat", sans-serif;
                    margin-bottom: 5px;
                }
                    input{
                        border: 1px solid #000;
                        border-radius: 5px;
                        padding: 0px 10px;
                        width: 100%;
                        margin-bottom: 10px;
                        
                    }
                    textarea{
                        border: 1px solid #000;
                        border-radius: 5px;
                        padding: 0px 10px;
                        width: 100%;
                        margin-bottom: 10px;
                    }
            }


        }
        .ctrl-button{
            width: 96%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
        button{
            background-color: #E8772E;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Montserrat", sans-serif;
            font-size: 1rem;
            font-weight: 500;
            width: 150px;
            height: 30px;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
        }
    }
    }
 }
}
.upload{
     display: none;
    h1{
        color: yellow;
    }
}
.upd-list{
    background: #E8772E;
    border-radius: 5px;
    margin-left: 20px;
    a{
        width: 100%;
        padding: 5px 10px;
        button{
            font-family: "Montserrat", sans-serif;
            font-size: 1.3rem;
            font-weight: 500;
            color: #fff;
        }
    }
}


.profile-features{
    width: 100%;
    .feature-title{
       
        width: 100%;
        margin: auto;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
        h3{
            font-family: "Roboto", sans-serif;
            font-size: 1.3rem;
            font-weight: 500;
            margin-bottom: 20px;
            color: #555;
        }
        button{
            width: 100%;
            font-size: 1.5rem;
        }

    }
}

.listing{
    .page-title{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        margin-bottom: 20px;
        h3{
            font-family: "Roboto", sans-serif;
            font-size: 1.5rem;
            font-weight: 500;
            color: #555;
        }
        button{
            width: 120px;
            padding: 5px 10px;
            background-color: royalblue;
            border-radius: 5px;
            color: #fff;
        }
    }
}

