@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cabin:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.login-h1 {
    width: 100%;
    background: rgb(135, 206, 235);
    text-align: center;
    padding: 20px;

    h1 {
        font-family: "Cabin Sketch", sans-serif;
        font-size: 2rem;
        font-weight: 700;
        margin-top: 10px;

        span {
            color: #ff4500;
        }
    }
}

.login-all {
    width: 100%;
    height: 95vh;
    background: rgb(135, 206, 235);
    display: flex;
    align-items: center;
    justify-content: center;

}

.login-box {
    width: 420px;
    height: 520px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 200px;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;

    h1 {
        font-family: "Cabin Sketch", sans-serif;
        margin-bottom: 10px;
    }
}

.avatar {
    padding: 20px;
    border-radius: 50%;
    background: rgb(129, 1, 1);
    margin-top: 10px;
}

.login-form {
    width: 100%;
    height: 250px;
    padding: 20px;
    font-family: "Montserrat", sans-serif;

    p {
        margin: auto;
        font-family: "Montserrat", sans-serif;
        font-size: 2rem;
        font-weight: 500;
    }

    input {
        font-family: "Montserrat", sans-serif;
        font-size: 2rem;
        font-weight: 500;
        color: #555;
        background: transparent;
        border: none;
        padding: 5px;
        border-bottom: 1px solid #ffffff;
        width: 100%;
    }

    button {
        margin-top: 30px;
        margin-left: 35%;
        margin-bottom: 30px;
        width: 100px;
        padding: 5px;
        border: none;
        border-radius: 4px;
        background: rgb(129, 1, 1);
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        color: #ffffff;
        font-weight: 500;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: #ffffff;
        line-height: 1rem;
        transition: .3s ease;

        :hover {
            color: rgb(129, 1, 1);
        }
    }
}

.sign-all {
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
   // background: url('/static/images/tree1.jpg');
    background-size: cover;
    z-index: -1;
    opacity: .8;
    

}

.sign-left {
    width: 100vw;
    height: 100vh;
    background: url('/static/images/sb.jpg') ;
    background-size: cover;
    z-index: -1;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    .s-info{
    
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column; 
        padding: 0px 50px;
        text-align: center;
        color: #fff;
        h2{
            font-family: "Montserrat", sans-serif;
            font-size: 2rem;
            font-weight: 500;
        }
        h1{
            font-family: "Montserrat", sans-serif;
            font-size: 7rem;
            font-weight: 500;
            img{
                width: 100px;
                height: 100px;
                object-fit: cover;
                margin-left: -30px;
                margin-top: -15px;
            }
        }
        h4{
            font-family: "Montserrat", sans-serif;
            font-size: 1rem;
            font-weight: 500;
            margin-top: -20px;
            margin-right: -430px;
            
        }
        h5{
            font-family: "Montserrat", sans-serif;
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: -50px;
            margin-top: 10px;
        }
        
    }
}

.all-signup {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    z-index: 1;
    background: #fff;


}

.b-drop {
   /* background: url('/static/images/tree1.jpg') center center no-repeat; */
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-top: 10px;


   h4{
    font-family: "Montserrat", sans-serif;
        font-size: .7rem;
        font-weight: 500;
        color: #000;
        text-align: center;
        
   }
    
    a{
        font-family: "Montserrat", sans-serif;
        font-size: .7rem;
        font-weight: 500;
        text-decoration: none;
        margin-bottom: 6px;
        margin-left: 2px;
        color: #ff4500;
        
    }
}

.create-account {
    width: 100%;
    background: transparent;
    height: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000;
    border-radius: 10px;

    h1{
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 3rem;
        color: #555;
    }
 
    img {
        display: none;
        width: 200px;
        height: 150px;
        object-fit: cover;
        margin-top: -40px;
    }
}

.account-form {
    width: 100%;
    padding: 0px 25px;
    font-family: "Roboto", sans-serif;
    margin-top: 20px;

    p {
        margin: auto;
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        font-weight: 500;
    }

    input {
        font-family: "Montserrat", sans-serif;
        font-size: .9rem;
        font-weight: 500;
        color: #444;
        background: transparent;
        border: 1px solid #000;
        border-radius: 10px;
        padding: 5px;
        width: 100%;
        text-align: center;
    }

    button {
        width: 100%;
        margin: auto;
        margin-top: 10px;
        padding: 5px;
        border: none;
        border-radius: 10px;
        background: #ff4500;
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        color: #ffffff;
        font-weight: 500;
        cursor: pointer;
    }
}

@media all and (max-width:700px){
    .sign-all{
        .sign-left{
           display: none;
        }
        .all-signup{
            margin-top: 80px;
            width: 100%;
            img{
                display: flex;
                width: 70px;
                height: 70px;
            }
        }
    }
}